<template>
  <div class="category">
    <Heading
      :image="`/${$route.params.slug}/${page.header}`"
      :color="page.theme"
      :title1="page.title_first"
      :title2="page.title_second"
      :video="page.video"
    />
    <client-only>
      <div class="slider chair">
        <swiper ref="slider" :options="swiperOptions">
          <Categorychairslide
            v-for="item in collection.products.edges"
            :key="item.node.id"
            :image="item.node.images.edges[0].node.src"
            :price="item.node.variants.edges[0].node.price"
            :link="item.node.id"
            :title="item.node.title"
            :product-color="item.node.variants.edges[0].node.title"
            @addtocart="addToCart(item.node.variants.edges[0].node.id)"
          />
          <div slot="button-prev" class="slider-prev" @click="prev()">
            <img
              src="images/back.png"
              alt="Seatzac, SeatSac, zitzak, e-zy, portable, lucht, chill, relax, lounger"
            />
          </div>
          <div slot="button-next" class="slider-next" @click="next()">
            <img
              src="images/next.png"
              alt="Seatzac, SeatSac, zitzak, e-zy, portable, lucht, chill, relax, lounger"
            />
          </div>
        </swiper>
      </div>
    </client-only>

    <div class="margin-12">
      <div class="two-images">
        <div class="two-images__container">
          <div
            v-observe-visibility="{ callback: visibilityChanged, once: true }"
            class="two-images-one"
          >
            <div
              :style="`background: url(images/${$route.params.slug}/${page.image1})`"
              class="image-1"
            ></div>
          </div>
          <div class="two-images-two">
            <div
              :style="`background: url(images/${$route.params.slug}/${page.image2})`"
              class="image-2"
            ></div>
          </div>
        </div>
      </div>
      <div class="container">
        <div class="text-block relative">
          <div class="grey-block">
            <div class="block"></div>
          </div>
          <div class="content">
            <div
              v-observe-visibility="{ callback: visibiltyText, once: true }"
              class="title"
            >
              <h3
                alt="Seatzac, SeatSac, zitzak, e-zy, portable, lucht, chill, relax, lounger"
                v-html="page.product"
              ></h3>
              <div class="purple-block-text"></div>
            </div>
            <div class="text">
              <p>{{ page.text_1 }}</p>
              <p>{{ page.text_2 }}</p>
              <p>{{ page.text_3 }}</p>
              <p>{{ page.text_4 }}</p>
              <p>{{ page.text_5 }}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
/* eslint-disable @typescript-eslint/no-unused-vars */
import gsap from 'gsap'
import { Component, Vue } from 'nuxt-property-decorator'
import gqlGetCollection from '~/apollo/queries/gqlGetCollection.gql'

import { shopStore } from '~/store'

@Component({
  // @ts-ignore
  async asyncData({ $content, params, app }) {
    const router = params.slug
    const page = await $content('pages/seatzac', params.slug).fetch()

    const getCollection = await app.apolloProvider.defaultClient.query({
      query: gqlGetCollection,
      variables: {
        handle: `${router}`,
      },
    })

    return {
      page,
      collection: getCollection.data.collectionByHandle,
    }
  },
})
export default class categoryPage extends Vue {
  collection = []
  cartContent = []
  variants = []
  productId = ''
  productName = ''
  isVisible = true
  textVisible = true
  sliderVisible = true

  swiperOptions = {
    slidesPerView: 1.55,
    spaceBetween: 15,
    grabCursor: false,
    allowTouchMove: false,
    slidesPerGroup: 1,
    navigation: {
      nextEl: '.swiper-button-next',
      prevEl: '.swiper-button-prev',
    },
  }

  prev() {
    // @ts-ignore
    this.$refs.slider.$swiper.slidePrev()
  }

  next() {
    // @ts-ignore
    this.$refs.slider.$swiper.slideNext()
  }

  visibiltyText(isVisible, entry) {
    const textTimeline = gsap.timeline({})

    this.textVisible = isVisible

    if (this.textVisible) {
      textTimeline.to('.purple-block-text', {
        width: '100%',
        duration: 0.5,
        ease: 'back',
      })
    }
  }

  visibilityChanged(isVisible, entry) {
    const timeline = gsap.timeline({})

    this.isVisible = isVisible

    if (this.isVisible) {
      timeline.to('.image-1', {
        opacity: 1,
        duration: 0.5,
        left: 0,
        width: '100%',
        ease: 'back',
      })
      timeline.to('.image-2', {
        opacity: 1,
        duration: 0.5,
        left: 0,
        width: '100%',
        ease: 'back',
      })
    }
  }

  addToCart(variantID) {
    if (this.$route.query.checkoutId !== undefined) {
      shopStore.addLineItemHome({
        variantId: variantID,
        checkoutId: this.$route.query.checkoutId,
      })
    } else {
      shopStore.generateCheckoutIDAndAddLineItemHome(variantID)
    }
  }
}
</script>
