<template>
  <div>
    <div v-if="$apollo.loading" style="min-height: 50rem"></div>
    <div v-else class="product">
      <div class="product-container">
        <div class="container">
          <div class="back-button">
            <nuxt-link
              v-if="$route.query.checkoutId"
              :to="{
                path: `/seatzac/${$route.params.slug}`,
                query: { checkoutId: $route.query.checkoutId },
              }"
            >
              <img
                src="images/back.png"
                alt="Seatzac, SeatSac, zitzak, e-zy, portable, lucht, chill, relax, lounger"
            /></nuxt-link>
            <nuxt-link v-else :to="`/seatzac/${$route.params.slug}`">
              <img
                src="images/back.png"
                alt="Seatzac, SeatSac, zitzak, e-zy, portable, lucht, chill, relax, lounger"
            /></nuxt-link>
          </div>
          <div class="product-content">
            <div
              v-for="item in node.variants.edges.slice(0, 1)"
              :key="item.node.id"
              class="images"
            >
              <div :class="`${$route.params.slug} images-big`">
                <img
                  v-if="selectedImage"
                  :src="`${selectedImage}`"
                  alt="Seatzac, SeatSac, zitzak, e-zy, portable, lucht, chill, relax, lounger"
                />
                <img
                  v-else
                  :src="`${item.node.image.src}`"
                  alt="Seatzac, SeatSac, zitzak, e-zy, portable, lucht, chill, relax, lounger"
                />
              </div>
              <ul
                v-if="selectedImage"
                :class="`images-small ${$route.params.slug}`"
              >
                <li
                  v-for="(item, index) in smallImages.slice(0, 3)"
                  :key="index"
                  @click="getImage(item)"
                >
                  <div
                    class="image"
                    :style="`background: url(${item.node.src})`"
                  ></div>
                </li>
              </ul>
              <ul v-else :class="`images-small ${$route.params.slug}`">
                <li
                  v-for="(item, index) in node.images.edges.slice(1)"
                  :key="index"
                  @click="getImage(item)"
                >
                  <div
                    class="image"
                    :style="`background: url(${item.node.src})`"
                  ></div>
                </li>
              </ul>
            </div>
            <client-only>
              <div class="text">
                <h3
                  alt="Seatzac, SeatSac, zitzak, e-zy, portable, lucht, chill, relax, lounger"
                  class="title"
                  @click="getQuantity"
                >
                  {{ node.title }}<br />
                  {{ node.variants.edges[0].node.title }}
                </h3>
                <p class="shipping">Free Shipping</p>
                <div class="text-select">
                  <select
                    v-model="selectedValue"
                    class="select"
                    @change="onChange(selectedValue)"
                  >
                    <option selected value disabled>
                      <p style="black">
                        {{ selectedVariant }}
                      </p>
                    </option>
                    <option
                      v-for="item in otherColors"
                      :key="item.node.id"
                      :value="item.node.id"
                    >
                      <p>
                        {{ item.node.variants.edges[0].node.title }}
                      </p>
                    </option>
                  </select>
                  <select
                    v-model="selectedQuantity"
                    class="select"
                    @change="getQuantity(selectedQuantity)"
                  >
                    <option value disabled>
                      <p>{{ selectedQuantity }} PCS.</p>
                    </option>
                    <option v-for="i in 10" :key="i" :value="i">
                      <p>{{ i }} PCS.</p>
                    </option>
                  </select>
                </div>
                <div
                  v-for="item in node.variants.edges.slice(0, 1)"
                  :key="item.node.id"
                >
                  <button
                    class="btn-green margin-3"
                    @click="addLineItem(item.node.id)"
                  >
                    <p>Buy now</p>
                  </button>
                </div>
                <div class="description">
                  <p class="description-title" v-html="`${node.title}`"></p>
                  <p class="description-text">{{ node.description }}</p>
                </div>
                <div class="information-list">
                  <div
                    v-for="el in page.productinformation"
                    :key="el._id"
                    class="content"
                  >
                    <div class="btn-white" @click="toggleQuestion(el._id)">
                      <p>{{ el.title }}</p>
                      <img
                        :class="{ turn: questionIndex === el._id }"
                        class="arrow"
                        src="images/right-arrow.png"
                        alt="Seatzac, SeatSac, zitzak, e-zy, portable, lucht, chill, relax, lounger"
                      />
                    </div>
                    <transition name="slide">
                      <div v-if="questionIndex === el._id" class="content-text">
                        <p>{{ el.text }}</p>
                      </div>
                    </transition>
                  </div>
                  <div class="btn-white">
                    <p>Tips & FAQ</p>
                    <img
                      class="arrow"
                      src="images/right-arrow.png"
                      alt="Seatzac, SeatSac, zitzak, e-zy, portable, lucht, chill, relax, lounger"
                    />
                    <nuxt-link
                      v-if="$route.query.checkoutId"
                      :to="{
                        path: `/service/faq`,
                        query: { checkoutId: $route.query.checkoutId },
                      }"
                    ></nuxt-link>
                    <nuxt-link v-else :to="`/service/faq`"></nuxt-link>
                  </div>
                </div>
              </div>
            </client-only>
          </div>
        </div>
      </div>
      <client-only>
        <div class="slider chair">
          <swiper ref="slider" :options="swiperOptions">
            <Chairslide
              v-for="product in productsBest"
              :key="product.node.id"
              :title="product.node.title"
              :image="product.node.images.edges[0].node.src"
              :price="product.node.variants.edges[0].node.price"
              :color="product.node.variants.edges[0].node.title"
              @addtocart="addToCart(product.node.variants.edges[0].node.id)"
            />
            <div slot="button-prev" class="slider-prev" @click="prev()">
              <img
                src="images/back.png"
                alt="Seatzac, SeatSac, zitzak, e-zy, portable, lucht, chill, relax, lounger"
              />
            </div>
            <div slot="button-next" class="slider-next" @click="next()">
              <img
                src="images/next.png"
                alt="Seatzac, SeatSac, zitzak, e-zy, portable, lucht, chill, relax, lounger"
              />
            </div>
          </swiper>
        </div>
      </client-only>
    </div>
  </div>
</template>

<script lang="ts">
/* eslint-disable no-undef */
import gsap from 'gsap'
import { Component, Vue } from 'nuxt-property-decorator'
import gqlGetProduct from '~/apollo/queries/gqlGetProduct.gql'
import gqlGetAllProducts from '~/apollo/queries/gqlGetAllProducts.gql'
import gqlGetCollection from '~/apollo/queries/gqlGetCollection.gql'

import { shopStore } from '~/store'

@Component({
  apollo: {
    node: {
      query: gqlGetProduct,
      variables() {
        return {
          id: `${this.$route.params.id}`,
        }
      },
    },
  },
  // @ts-ignore
  async asyncData({ app, params, $content }) {
    const router = params.slug
    const page = await $content('pages/seatzac', params.slug).fetch()

    const allProducts = await app.apolloProvider.defaultClient.query({
      query: gqlGetAllProducts,
    })

    const getCollection = await app.apolloProvider.defaultClient.query({
      query: gqlGetCollection,
      variables: {
        handle: `${router}`,
      },
    })

    return {
      page,
      products: allProducts.data.products.edges,
      collection: getCollection.data.collectionByHandle,
    }
  },
})
export default class categoryPage extends Vue {
  private product = []
  private products = []
  private node = []
  private productsBest = []
  private smallImages = []
  private page = []
  private collection = []
  private otherColors = []
  questionIndex = null
  selectedValue = ''
  selectedVariant = ''
  selectedImage = ''
  selectedQuantity = 1
  productName = ''
  showContent = false

  swiperOptions = {
    slidesPerView: 1.7,
    grabCursor: false,
    allowTouchMove: false,
    slidesPerGroup: 1,
    spaceBetween: 15,
    navigation: {
      nextEl: '.swiper-button-next',
      prevEl: '.swiper-button-prev',
    },
    breakpoints: {
      1200: {
        slidesPerView: 3.4,
      },
      1024: {
        slidesPerView: 3.4,
      },
      800: {
        slidesPerView: 2.5,
      },
      751: {
        slidesPerView: 2.3,
      },
      700: {
        slidesPerView: 1.5,
      },
    },
  }

  prev() {
    // @ts-ignore
    this.$refs.slider.$swiper.slidePrev()
  }

  next() {
    // @ts-ignore
    this.$refs.slider.$swiper.slideNext()
  }

  toggleQuestion(index) {
    if (this.questionIndex === index) {
      this.questionIndex = null
    } else {
      this.questionIndex = index
    }
  }

  getQuantity(el) {
    shopStore.increment(el)
  }

  addLineItem(variant) {
    if (this.$route.query.checkoutId !== undefined) {
      shopStore.addLineItem({
        variantId: variant,
        checkoutId: this.$route.query.checkoutId,
      })
    } else {
      shopStore.generateCheckoutIDAndAddLineItem(variant)
    }
  }

  addToCart(variantID) {
    if (this.$route.query.checkoutId !== undefined) {
      shopStore.addLineItemHome({
        variantId: variantID,
        checkoutId: this.$route.query.checkoutId,
      })
    } else {
      shopStore.generateCheckoutIDAndAddLineItemHome(variantID)
    }
  }

  getImage(el) {
    this.products.forEach((elem) => {
      if (elem.node.id === this.$route.params.id) {
        elem.node.images.edges.forEach((item) => {
          if (el.node.src !== item.node.src) {
            this.smallImages.unshift(item)
          } else {
            this.selectedImage = item.node.src
          }
        })
      }
    })
  }

  sliceSelectedImage() {
    const variantValue = document.getElementById('variantId')! as HTMLElement
    this.products.forEach((el) => {
      if (el.node.tags[0] === this.$route.params.slug) {
        el.node.variants.edges.forEach((elem) => {
          // @ts-ignore
          if (elem.node.id !== variantValue.value) {
            this.smallImages.unshift(elem)
          }
        })
      }
    })
  }

  getProducts() {
    this.products.forEach((el) => {
      if (el.node.tags.includes('best_seller')) {
        this.productsBest.push(el)
      }
    })
  }

  addAnimation() {
    const checkElement = async (selector) => {
      while (document.querySelector(selector) === null) {
        await new Promise((resolve) => requestAnimationFrame(resolve))
      }
      return document.querySelector(selector)
    }

    checkElement('.product-container').then((selector) => {
      const timeline = gsap.timeline({})
      timeline.to(selector, {
        duration: 1.5,
        paddingTop: '18rem',
        ease: 'elastic',
      })
    })
  }

  onChange(event) {
    if (this.$route.query.checkoutId !== undefined) {
      this.$router.replace(
        `${event}?checkoutId=${this.$route.query.checkoutId}`
      )
    } else {
      this.$router.replace(event)
    }
  }

  getOnChange() {
    // @ts-ignore
    this.collection.products.edges.forEach((el) => {
      if (this.$route.params.id === el.node.id) {
        this.selectedVariant = el.node.variants.edges[0].node.title
      } else {
        this.otherColors.push(el)
      }
    })
  }

  mounted() {
    this.getProducts()
    this.getOnChange()
  }
}
</script>
