<template>
  <div class="page">
    <div class="page-container">
      <div class="page-text">
        <h3
          alt="Seatzac, SeatSac, zitzak, e-zy, portable, lucht, chill, relax, lounger"
        >
          {{ page.title }}
        </h3>
        <nuxt-content :document="page" />
        <ul class="questions">
          <li
            v-for="el in page.questions"
            :key="el._id"
            class="questions-item"
            @click="toggleQuestion(el._id)"
          >
            <div class="questions-flex">
              <p v-html="el.questions"></p>
              <img
                :class="{ turn: questionIndex === el._id }"
                class="arrow"
                src="images/right-arrow.png"
                alt="Seatzac, SeatSac, zitzak, e-zy, portable, lucht, chill, relax, lounger"
              />
            </div>
            <transition name="slide">
              <div v-if="questionIndex === el._id" class="questions-answer">
                <ul>
                  <li v-for="(item, index) in el.answerList" :key="index">
                    <p v-html="item"></p>
                  </li>
                </ul>
                <p v-html="el.answer"></p>
              </div>
            </transition>
          </li>
        </ul>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import { Component, Vue } from 'nuxt-property-decorator'

@Component({
  // @ts-ignore
  async asyncData({ $content, params }) {
    const page = await $content('pages/service', params.slug).fetch()

    return {
      page,
    }
  },
})
export default class categoryPage extends Vue {
  private page = []
  questionIndex = null

  toggleQuestion(index) {
    if (this.questionIndex === index) {
      this.questionIndex = null
    } else {
      this.questionIndex = index
    }
  }
}
</script>
