<template>
  <swiper-slide class="chair-item">
    <div class="chair-item__container">
      <div class="content">
        <img
          class="seatzac"
          :src="image"
          alt="Seatzac, SeatSac, zitzak, e-zy, portable, lucht, chill, relax, lounger"
        />
        <ul class="chair-item__information">
          <li>
            <p class="font-dark-purple title-category">{{ title }}</p>
            <p class="font-light-purple title-category">{{ productColor }}</p>
          </li>
          <li>
            <div :class="`${color}-block chair-text`">
              <p>&euro;{{ price }}</p>
              <p class="small">Free Shipping</p>
            </div>
          </li>
        </ul>
        <ul class="chair-item__information__second">
          <li>
            <ul class="btns">
              <li class="margin-bottom-0">
                <button class="btn-green" @click="addtocart">
                  <p>Buy now</p>
                </button>
              </li>
              <li>
                <nuxt-link
                  v-if="$route.query.checkoutId"
                  class="chair-item-btn"
                  :to="{
                    path: `/seatzac/${$route.params.slug}/${link}`,
                    query: { checkoutId: $route.query.checkoutId },
                  }"
                >
                  More info
                </nuxt-link>
                <nuxt-link
                  v-else
                  class="chair-item-btn"
                  :to="`/seatzac/${$route.params.slug}/${link}`"
                >
                  More info
                </nuxt-link>
              </li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </swiper-slide>
</template>

<script lang="ts">
import { Component, Vue, Prop, Emit } from 'nuxt-property-decorator'

@Component
export default class Footer extends Vue {
  @Prop({ default: '' }) image!: string
  @Prop({ default: '' }) title!: string
  @Prop({ default: '' }) price!: string
  @Prop({ default: 'Gaming chair Is' }) link!: string
  @Prop({}) variants!: Array<object>
  @Prop({ default: 'red' }) color!: Array<object>
  @Prop({ default: '' }) productColor!: String

  @Emit()
  addtocart() {}
}
</script>
