<template>
  <swiper-slide class="chair-item">
    <div class="chair-item__container">
      <div class="content">
        <img
          :src="image"
          alt="Seatzac, SeatSac, zitzak, e-zy, portable, lucht, chill, relax, lounger"
        />
        <ul class="chair-item__information">
          <li>
            <p style="padding-right: 0.2rem" class="font-dark-purple">
              {{ title }}
            </p>
            <p class="font-light-purple">{{ color }}</p>
          </li>
          <li>
            <div class="purple-block">
              <p>&euro;{{ price }}</p>
              <p class="small">Free Shipping</p>
            </div>
          </li>
        </ul>
      </div>
      <div class="flex-center">
        <button class="btn-green" @click="addtocart">
          <p>Buy now</p>
        </button>
      </div>
    </div>
  </swiper-slide>
</template>

<script lang="ts">
import { Component, Vue, Prop, Emit } from 'nuxt-property-decorator'

@Component
export default class Footer extends Vue {
  @Prop({ default: '' }) id!: string
  @Prop({ default: '' }) image!: string
  @Prop({ default: '' }) title!: string
  @Prop({ default: '/' }) link!: string
  @Prop({ default: '' }) category!: string
  @Prop({}) variants!: Array<object>
  @Prop({ default: '' }) price!: string
  @Prop({ default: '' }) color!: string

  @Emit()
  addtocart() {}
}
</script>
