<template>
  <div>
    <button v-if="node.totalPrice === '0.00'" class="btn">
      <p>Continue</p>
    </button>
    <a v-else :href="node.webUrl">
      <button class="btn">
        <p>Continue</p>
      </button>
    </a>
  </div>
</template>

<script lang="ts">
import { Component, Vue } from 'nuxt-property-decorator'
import gqlUpdateCheckout from '~/apollo/queries/gqlUpdateCheckout.gql'

@Component({
  apollo: {
    node: {
      query: gqlUpdateCheckout,
      variables() {
        return {
          id: String(this.$route.query.checkoutId).replace('%3D', '='),
        }
      },
      skip() {
        return !this.$route.query.checkoutId
      },
    },
  },
})
export default class Footer extends Vue {
  private node = []

  mounted() {}
}
</script>
