<template>
  <div>
    <div v-if="hideCookiebar" class="cookie">
      <div class="cookie-container">
        <div class="cookie-text">
          <p>
            Our website uses cookies. Cookies are small pieces of information
            that your internet browser stores on your computer.
            <nuxt-link
              v-if="$route.query.checkoutId"
              :to="{
                path: `/terms/cookies`,
                query: { checkoutId: $route.query.checkoutId },
              }"
              >Read more</nuxt-link
            >
            <nuxt-link v-else to="/terms/cookies">Read more</nuxt-link>
          </p>
        </div>
        <div class="cookie-buttons">
          <button class="btn-green" @click="setCookie">
            <p class="arial">Accept</p>
          </button>
          <button class="btn-red">
            <p>Don't accept</p>
          </button>
        </div>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import Cookies from 'js-cookie'
import { Component, Vue } from 'nuxt-property-decorator'

@Component
export default class Footer extends Vue {
  setCookies = true
  hideCookiebar = false

  get showCookie() {
    return Cookies.get('cookiebar') === 'accept'
  }

  setCookie() {
    this.hideCookiebar = false
    Cookies.set('cookiebar', 'accept', { expires: 7 })
  }

  checkCookie() {
    if (Cookies.get('cookiebar') === 'accept') {
      this.hideCookiebar = false
    } else {
      this.hideCookiebar = true
    }
  }

  mounted() {
    this.checkCookie()
  }
}
</script>
