<template>
  <footer class="footer">
    <div class="footer-container">
      <div class="footer-1">
        <div class="footer-logo">
          <img
            src="images/logo-white.png"
            alt="Seatzac, SeatSac, zitzak, e-zy, portable, lucht, chill, relax, lounger"
          />
          <ul class="footer-social">
            <li v-for="(item, index) in socialMenu" :key="index">
              <a target="_blank" :href="item.path">
                <img
                  :src="`images/${item.icon}`"
                  alt="Seatzac, SeatSac, zitzak, e-zy, portable, lucht, chill, relax, lounger"
                />
              </a>
            </li>
          </ul>
        </div>
      </div>
      <div class="footer-2">
        <ul class="footer-seatzac">
          <li>
            <h3
              alt="Seatzac, SeatSac, zitzak, e-zy, portable, lucht, chill, relax, lounger"
              class="title-desktop"
            >
              Seatzac&trade;
            </h3>
            <div class="title-mobile" @click="activateMenu($event, 1)">
              <div class="title-flex">
                <h3
                  alt="Seatzac, SeatSac, zitzak, e-zy, portable, lucht, chill, relax, lounger"
                  :class="{ activeList: activeMenu === 1 }"
                >
                  Seatzac&trade;
                </h3>
                <img
                  :class="{ turn: activeMenu === 1 }"
                  src="images/white-down-arrow.png"
                  alt="Seatzac, SeatSac, zitzak, e-zy, portable, lucht, chill, relax, lounger"
                />
              </div>
              <transition name="slide">
                <ul v-if="activeMenu === 1" class="list-mobile">
                  <li class="list-mobile-item">
                    <nuxt-link
                      v-if="$route.query.checkoutId"
                      :to="{
                        path: `/`,
                        query: { checkoutId: $route.query.checkoutId },
                      }"
                    >
                      <p>Home</p>
                    </nuxt-link>
                    <nuxt-link v-else to="/">
                      <p>Home</p>
                    </nuxt-link>
                  </li>
                  <li
                    v-for="(item, index) in seatzacMenu"
                    :key="index"
                    class="list-mobile-item"
                  >
                    <nuxt-link
                      v-if="$route.query.checkoutId"
                      :to="{
                        path: `/seatzac/${item.slug}`,
                        query: { checkoutId: $route.query.checkoutId },
                      }"
                    >
                      <p v-html="item.title"></p>
                    </nuxt-link>
                    <nuxt-link v-else :to="`/seatzac/${item.slug}`">
                      <p v-html="item.title"></p>
                    </nuxt-link>
                  </li>
                </ul>
              </transition>
            </div>
          </li>
          <li>
            <nuxt-link
              v-if="$route.query.checkoutId"
              :to="{
                path: `/`,
                query: { checkoutId: $route.query.checkoutId },
              }"
            >
              <p>Home</p>
            </nuxt-link>
            <nuxt-link v-else to="/">
              <p>Home</p>
            </nuxt-link>
          </li>
          <li v-for="(item, index) in seatzacMenu" :key="index">
            <nuxt-link
              v-if="$route.query.checkoutId"
              :to="{
                path: `/seatzac/${item.slug}`,
                query: { checkoutId: $route.query.checkoutId },
              }"
            >
              <p v-html="item.product"></p>
            </nuxt-link>
            <nuxt-link v-else :to="`/seatzac/${item.slug}`">
              <p v-html="item.product"></p>
            </nuxt-link>
          </li>
        </ul>
      </div>
      <div class="footer-3">
        <ul class="footer-seatzac">
          <li>
            <h3
              alt="Seatzac, SeatSac, zitzak, e-zy, portable, lucht, chill, relax, lounger"
              class="title-desktop"
            >
              Service
            </h3>
            <div class="title-mobile" @click="activateMenu($event, 2)">
              <div class="title-flex">
                <h3
                  alt="Seatzac, SeatSac, zitzak, e-zy, portable, lucht, chill, relax, lounger"
                  :class="{ activeList: activeMenu === 2 }"
                >
                  Service
                </h3>
                <img
                  :class="{ turn: activeMenu === 2 }"
                  src="images/white-down-arrow.png"
                  alt="Seatzac, SeatSac, zitzak, e-zy, portable, lucht, chill, relax, lounger"
                />
              </div>
              <transition name="slide">
                <ul v-if="activeMenu === 2" class="list-mobile">
                  <li class="list-mobile-item">
                    <a href="https://www.gls-info.nl/tracking"
                      >Track my Order</a
                    >
                  </li>
                  <li
                    v-for="(item, index) in serviceMenu"
                    :key="index"
                    class="list-mobile-item"
                  >
                    <nuxt-link
                      v-if="$route.query.checkoutId"
                      :to="{
                        path: `/service/${item.slug}`,
                        query: { checkoutId: $route.query.checkoutId },
                      }"
                    >
                      <p v-html="item.title"></p>
                    </nuxt-link>
                    <nuxt-link v-else :to="`/service/${item.slug}`">
                      <p v-html="item.title"></p>
                    </nuxt-link>
                  </li>
                </ul>
              </transition>
            </div>
          </li>
          <li><a href="https://www.gls-info.nl/tracking">Track my Order</a></li>
          <li v-for="(item, index) in serviceMenu" :key="index">
            <nuxt-link
              v-if="$route.query.checkoutId"
              :to="{
                path: `/service/${item.slug}`,
                query: { checkoutId: $route.query.checkoutId },
              }"
            >
              <p v-html="item.title"></p>
            </nuxt-link>
            <nuxt-link v-else :to="`/service/${item.slug}`">
              <p v-html="item.title"></p>
            </nuxt-link>
          </li>
        </ul>
      </div>
      <div class="footer-4">
        <ul class="footer-seatzac">
          <li>
            <h3
              alt="Seatzac, SeatSac, zitzak, e-zy, portable, lucht, chill, relax, lounger"
              class="title-desktop"
            >
              Terms
            </h3>
            <div class="title-mobile" @click="activateMenu($event, 3)">
              <div class="title-flex">
                <h3
                  alt="Seatzac, SeatSac, zitzak, e-zy, portable, lucht, chill, relax, lounger"
                  :class="{ activeList: activeMenu === 3 }"
                >
                  Terms
                </h3>
                <img
                  :class="{ turn: activeMenu === 3 }"
                  src="images/white-down-arrow.png"
                  alt="Seatzac, SeatSac, zitzak, e-zy, portable, lucht, chill, relax, lounger"
                />
              </div>
              <transition name="slide">
                <ul v-if="activeMenu === 3" class="list-mobile">
                  <li
                    v-for="(item, index) in termsMenu"
                    :key="index"
                    class="list-mobile-item"
                  >
                    <nuxt-link
                      v-if="$route.query.checkoutId"
                      :to="{
                        path: `/terms/${item.slug}`,
                        query: { checkoutId: $route.query.checkoutId },
                      }"
                    >
                      <p v-html="item.title"></p>
                    </nuxt-link>
                    <nuxt-link v-else :to="`/terms/${item.slug}`">
                      <p v-html="item.title"></p>
                    </nuxt-link>
                  </li>
                </ul>
              </transition>
            </div>
          </li>
          <li v-for="(item, index) in termsMenu" :key="index">
            <nuxt-link
              v-if="$route.query.checkoutId"
              :to="{
                path: `/terms/${item.slug}`,
                query: { checkoutId: $route.query.checkoutId },
              }"
            >
              <p v-html="item.title"></p>
            </nuxt-link>
            <nuxt-link v-else :to="`/terms/${item.slug}`">
              <p v-html="item.title"></p>
            </nuxt-link>
          </li>
        </ul>
      </div>
      <div class="footer-5">
        <ul class="footer-seatzac">
          <li>
            <h3
              alt="Seatzac, SeatSac, zitzak, e-zy, portable, lucht, chill, relax, lounger"
              class="title-desktop"
            >
              Business
            </h3>
            <div class="title-mobile" @click="activateMenu($event, 4)">
              <div class="title-flex">
                <h3
                  alt="Seatzac, SeatSac, zitzak, e-zy, portable, lucht, chill, relax, lounger"
                  :class="{ activeList: activeMenu === 4 }"
                >
                  Business
                </h3>
                <img
                  :class="{ turn: activeMenu === 4 }"
                  src="images/white-down-arrow.png"
                  alt="Seatzac, SeatSac, zitzak, e-zy, portable, lucht, chill, relax, lounger"
                />
              </div>
              <transition name="slide">
                <ul v-if="activeMenu === 4" class="list-mobile">
                  <li
                    v-for="(item, index) in businessMenu"
                    :key="index"
                    class="list-mobile-item"
                  >
                    <nuxt-link
                      v-if="$route.query.checkoutId"
                      :to="{
                        path: `/business/${item.slug}`,
                        query: { checkoutId: $route.query.checkoutId },
                      }"
                    >
                      <p v-html="item.title"></p>
                    </nuxt-link>
                    <nuxt-link v-else :to="`/business/${item.slug}`">
                      <p v-html="item.title"></p>
                    </nuxt-link>
                  </li>
                </ul>
              </transition>
            </div>
          </li>
          <li v-for="(item, index) in businessMenu" :key="index">
            <nuxt-link
              v-if="$route.query.checkoutId"
              :to="{
                path: `/business/${item.slug}`,
                query: { checkoutId: $route.query.checkoutId },
              }"
            >
              <p v-html="item.title"></p>
            </nuxt-link>
            <nuxt-link v-else :to="`/business/${item.slug}`">
              <p v-html="item.title"></p>
            </nuxt-link>
          </li>
        </ul>
      </div>
    </div>
    <div class="footer-end">
      <div class="footer-line"></div>
      <div class="footer-copy">
        <ul>
          <li><p>&copy; 2020 Seatzac&trade; - All Rights Reserved</p></li>
        </ul>
      </div>
    </div>
  </footer>
</template>

<script lang="ts">
/* eslint-disable no-useless-return */
/* eslint-disable no-undef */
import { Component, Vue, Watch } from 'nuxt-property-decorator'

@Component
export default class Footer extends Vue {
  showTerms = false
  showBusiness = false
  showSeatzac = false
  showService = false
  activeMenu = null
  businessMenu = []
  seatzacMenu = []
  serviceMenu = []
  termsMenu = []

  async getFooter() {
    // @ts-ignore
    const business = await $nuxt.$content('pages/business').fetch()
    this.businessMenu = business

    // @ts-ignore
    const seatzac = await $nuxt.$content('pages/seatzac').fetch()
    this.seatzacMenu = seatzac

    // @ts-ignore
    const service = await $nuxt.$content('pages/service').fetch()
    this.serviceMenu = service

    // @ts-ignore
    const terms = await $nuxt.$content('pages/terms').fetch()
    this.termsMenu = terms
  }

  socialMenu = [
    {
      icon: 'facebook.png',
      path: 'https://www.facebook.com/seatzac',
    },
    {
      icon: 'instagram.png',
      path: 'https://www.instagram.com/seatzac/',
    },
    {
      icon: 'youtube.png',
      path: 'https://www.youtube.com/channel/UCTo07AIKDLvkv5Lorns6jfA',
    },
  ]

  @Watch('activeMenu')
  watchActiveMen() {
    if (this.activeMenu !== null) {
      setTimeout(() => {
        this.activeMenu = null
      }, 5000)
    }
  }

  activateMenu(e, el) {
    if (e.target.classList.contains('activeList')) {
      this.activeMenu = null
    } else {
      this.activeMenu = el
    }
  }

  checkWidth() {
    let timer = 1
    setInterval(() => {
      if (timer <= 0) {
        if (window.innerWidth >= 800) {
          this.showService = false
          this.showTerms = false
          this.showSeatzac = false
          this.showBusiness = false
        }
        timer = 1
        return
      }
      timer--
    }, 100)
  }

  mounted() {
    this.checkWidth()
    // @ts-ignore
    this.getFooter()
  }
}
</script>
