<template>
  <div class="heading">
    <video
      class="heading-video"
      playsinline
      autoplay
      loop
      muted
      :poster="`/videos/${video}.jpg`"
    >
      <source :src="`/videos/${video}.mp4`" type="video/mp4" />
    </video>
    <div class="content">
      <div class="divje">
        <div class="title1">
          <h1
            alt="Seatzac, SeatSac, zitzak, e-zy, portable, lucht, chill, relax, lounger"
          >
            {{ title1 }}
          </h1>
          <div :class="`purple-block color-block`"></div>
        </div>
        <div class="title2">
          <h1
            alt="Seatzac, SeatSac, zitzak, e-zy, portable, lucht, chill, relax, lounger"
          >
            {{ title2 }}
          </h1>
          <div :class="`purple-block color-block`"></div>
        </div>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import gsap from 'gsap'
import { Component, Vue, Prop } from 'nuxt-property-decorator'

@Component
export default class Heading extends Vue {
  @Prop({ default: 'First self inflatable' }) title1!: string
  @Prop({ default: 'chair in the world' }) title2!: string
  @Prop({ default: 'header.jpg' }) image!: string
  @Prop({ default: 'purple' }) color!: string
  @Prop({ default: 'seatzac-video' }) video!: string

  addAnimation() {
    const timeline = gsap.timeline({})
    timeline.to('.color-block', {
      duration: 0.8,
      width: '100%',
      ease: 'back',
    })
  }

  mounted() {
    // this.addAnimation()
  }
}
</script>
