<template>
  <header class="header">
    <div class="header-container">
      <div style="position: relative" class="header-logo">
        <nuxt-link
          v-if="$route.query.checkoutId"
          :to="{ path: '/', query: { checkoutId: $route.query.checkoutId } }"
        >
          <img
            src="images/logo-white.png"
            alt="Seatzac, SeatSac, zitzak, e-zy, portable, lucht, chill, relax, lounger"
          />
        </nuxt-link>
        <nuxt-link v-else to="/">
          <img
            src="images/logo-white.png"
            alt="Seatzac, SeatSac, zitzak, e-zy, portable, lucht, chill, relax, lounger"
          />
        </nuxt-link>
      </div>
      <div class="hamburger-contain">
        <div
          :class="{ open: openHamburger }"
          class="hamburger"
          @click="openHamburger = !openHamburger"
        >
          <span></span>
          <span></span>
          <span></span>
        </div>
      </div>
      <div class="header-contain">
        <div class="header-menu">
          <ul v-if="$route.query.checkoutId" class="menu">
            <li v-for="route in routes" :key="route._id" class="menu-item">
              <nuxt-link
                v-if="route.link"
                :to="{
                  path: `/seatzac/${route.link}`,
                  query: { checkoutId: $route.query.checkoutId },
                }"
              >
                <span v-html="route.title"></span>
                <div
                  :class="{ vol: $route.params.slug === route.link }"
                  class="purple-block-menu"
                ></div>
              </nuxt-link>
              <div v-else class="line"></div>
            </li>
          </ul>
          <ul v-else class="menu">
            <li v-for="route in routes" :key="route._id" class="menu-item">
              <nuxt-link v-if="route.link" :to="`/seatzac/${route.link}`">
                <span v-html="route.title"></span>
                <div
                  :class="{ active: $route.path.includes($route.params.slug) }"
                  class="purple-block-menu"
                ></div>
              </nuxt-link>
              <div v-else class="line"></div>
            </li>
          </ul>
        </div>
        <div class="cart">
          <nuxt-link
            v-if="$route.query.checkoutId"
            :to="{
              path: `/winkelwagen`,
              query: { checkoutId: $route.query.checkoutId },
            }"
          >
            <div class="cart-container">
              <p>Cart</p>
              <img
                src="images/cart.png"
                alt="Seatzac, SeatSac, zitzak, e-zy, portable, lucht, chill, relax, lounger"
              />
              <div class="cart-count">
                <p v-if="showline">
                  {{ node.lineItems.edges.length }}
                </p>
                <p v-else>0</p>
              </div>
            </div>
          </nuxt-link>
          <nuxt-link v-else to="/winkelwagen">
            <div class="cart-container">
              <p>Cart</p>
              <img
                src="images/cart.png"
                alt="Seatzac, SeatSac, zitzak, e-zy, portable, lucht, chill, relax, lounger"
              />
              <div class="cart-count">
                <p>0</p>
              </div>
            </div>
          </nuxt-link>
        </div>
      </div>
      <transition name="sliding">
        <div v-if="openHamburger" class="menu-mobile">
          <div v-if="$route.query.checkoutId" class="layers">
            <div
              v-for="route in routes"
              :key="route._id"
              :class="`layer ${route.color}-layer`"
              @click="openHamburger = false"
            >
              <nuxt-link
                v-if="route.link"
                :to="{
                  path: `/seatzac/${route.link}`,
                  query: { checkoutId: $route.query.checkoutId },
                }"
              >
                <span v-html="route.title"></span>
              </nuxt-link>
              <div v-else class="line"></div>
            </div>
            <div class="layer pink-layer" @click="openHamburger = false">
              <nuxt-link
                :to="{
                  path: `/winkelwagen`,
                  query: { checkoutId: $route.query.checkoutId },
                }"
              >
                <div class="cart-container">
                  <p>Cart</p>
                  <img
                    src="images/cart.png"
                    alt="Seatzac, SeatSac, zitzak, e-zy, portable, lucht, chill, relax, lounger"
                  />
                  <div class="cart-count">
                    <p v-if="showline">
                      {{ node.lineItems.edges.length }}
                    </p>
                    <p v-else>0</p>
                  </div>
                </div>
              </nuxt-link>
            </div>
          </div>
          <div v-else class="layers">
            <div
              v-for="route in routes"
              :key="route._id"
              :class="`layer ${route.color}-layer`"
              @click="openHamburger = false"
            >
              <nuxt-link v-if="route.link" :to="`/seatzac/${route.link}`">
                <span v-html="route.title"></span>
              </nuxt-link>
              <div v-else class="line"></div>
            </div>
            <div class="layer pink-layer" @click="openHamburger = false">
              <nuxt-link to="/winkelwagen">
                <div class="cart-container">
                  <p>Cart</p>
                  <img
                    src="images/cart.png"
                    alt="Seatzac, SeatSac, zitzak, e-zy, portable, lucht, chill, relax, lounger"
                  />
                  <div class="cart-count">
                    <p>0</p>
                  </div>
                </div>
              </nuxt-link>
            </div>
          </div>
        </div>
      </transition>
    </div>
  </header>
</template>

<script lang="ts">
import { Component, Vue, Watch } from 'nuxt-property-decorator'
import gsap from 'gsap'
import gqlGetCart from '~/apollo/queries/gqlGetCart.gql'

@Component({
  apollo: {
    node: {
      query: gqlGetCart,
      variables() {
        return {
          id: String(this.$route.query.checkoutId).replace('%3D', '='),
        }
      },
      skip() {
        return !this.$route.query.checkoutId
      },
    },
  },
})
export default class Header extends Vue {
  private cartContent = []
  private node = []
  openHamburger = false
  items = ''
  showline = false

  routes = [
    {
      _id: 1,
      title: 'E-ZY&trade;',
      link: 'e-zy',
      color: 'blue',
    },
    {
      _id: 3,
      title: '<div class="line"></div>',
    },
    {
      _id: 2,
      title: 'E-ZY Lounger&trade;',
      link: 'e-zy-lounger',
      color: 'green',
    },
  ]

  @Watch('openHamburger')
  watchHamburger() {
    if (this.openHamburger) {
      document.documentElement.style.overflow = 'hidden'
      return
    }
    document.documentElement.style.overflow = 'auto'
  }

  @Watch('$route')
  watchRouter(to, from) {
    if (to.path !== from.path) {
      this.addAnimationMenu()
      this.addAnimate()
    }
  }

  addAnimate() {
    const element = document.querySelector('.vol')! as HTMLElement

    if (element) {
      const timeline = gsap.timeline({})
      timeline.to(element, {
        duration: 0,
        width: 0,
        ease: 'back',
      })
      setTimeout(() => {
        timeline.to(element, {
          duration: 0.4,
          width: '102%',
          ease: 'back',
        })
      }, 800)
    }
  }

  addAnimationMenu() {
    const timeline1 = gsap.timeline({})
    const purpleBlock = document.querySelector(
      '.purple-block-menu'
    )! as HTMLElement

    if (purpleBlock.classList.contains('active')) {
      timeline1.to('.purple-block-menu', {
        duration: 0,
        width: 0,
        ease: 'back',
      })
    }
    setTimeout(() => {
      if (purpleBlock.classList.contains('active')) {
        timeline1.to('.purple-block-menu', {
          duration: 0.4,
          width: '102%',
          ease: 'back',
          delay: 0.5,
        })
      }
    }, 250)
  }

  menuAnimation() {
    const timeline = gsap.timeline({})
    timeline.to('.header-logo', {
      scale: 1,
      top: '0',
      duration: 0.5,
      ease: 'elastic',
    })
  }

  moveToMobile() {
    let timer = 1
    setInterval(() => {
      const timeline = gsap.timeline({})
      const hamburger = gsap.timeline({})
      if (timer <= 0) {
        if (window.innerWidth <= 960) {
          timeline.to('.menu', {
            scale: 0,
            duration: 0.3,
            ease: 'power4.out',
          })
          timeline.to('.header-contain', {
            width: '0',
            duration: 0.6,
            ease: 'power4.out',
          })
          timeline.to('.cart', {
            right: '-50rem',
            duration: 0.4,
            ease: 'power4.out',
          })
          setTimeout(() => {
            hamburger.to('.hamburger-contain', {
              right: '3rem',
              duration: 0.4,
              ease: 'power4.out',
            })
          }, 500)
        } else {
          setTimeout(() => {
            timeline.to('.cart', {
              right: '-14rem',
              duration: 0.4,
              ease: 'power4.out',
            })
            timeline.to('.header-contain', {
              width: 'clamp(50%, 3vw, 60rem)',
              duration: 0.6,
              ease: 'power4.out',
            })
            timeline.to('.menu', {
              scale: 1,
              duration: 0.3,
              ease: 'power4.out',
            })
          }, 500)
          hamburger.to('.hamburger-contain', {
            right: '-6rem',
            duration: 0.4,
            ease: 'power4.out',
          })
        }

        window.addEventListener('resize', () => {
          timeline.kill()
          hamburger.kill()
        })

        timer = 1
        return
      }
      timer--
    }, 50)
  }

  showLineItemLength() {
    let time = 1
    setInterval(() => {
      if (time <= 0) {
        time = 1
        if (this.$route.query.checkoutId) {
          setTimeout(() => {
            this.showline = true
          }, 1000)
        } else {
          this.showline = false
        }
        return
      }
      time--
    }, 20)
  }

  mounted() {
    window.addEventListener('resize', () => {
      if (window.innerWidth >= 960) {
        this.openHamburger = false
      }
    })
    this.menuAnimation()
    this.moveToMobile()
    this.showLineItemLength()
    this.addAnimate()
  }
}
</script>
