<template>
  <div class="product-box">
    <div class="product-box__image">
      <div class="relative">
        <div class="image" :style="`background: url(images/${image})`"></div>
        <div :class="`product-box-color product-box-${color}`"></div>
      </div>
    </div>

    <div class="product-box__text">
      <div class="content">
        <div class="price">
          <p style="padding: 0.5rem 1rem 0">&euro; {{ price }}</p>
          <p style="padding: 0.1rem 0 0.5rem !important" class="small-big">
            Free Shipping
          </p>
        </div>
        <div class="title">
          <h3
            alt="Seatzac, SeatSac, zitzak, e-zy, portable, lucht, chill, relax, lounger"
            v-html="title"
          ></h3>
        </div>
        <div class="text">
          <p>{{ text }}</p>
        </div>
        <nuxt-link
          v-if="$route.query.checkoutId"
          :to="{
            path: `/seatzac/${link}`,
            query: { checkoutId: $route.query.checkoutId },
          }"
        >
          <button class="btn">
            <p>More info</p>
          </button>
        </nuxt-link>
        <nuxt-link v-else :to="`/seatzac/${link}`">
          <button class="btn">
            <p>More info</p>
          </button>
        </nuxt-link>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import { Component, Vue, Prop } from 'nuxt-property-decorator'

@Component
export default class Footer extends Vue {
  @Prop({ default: 'lounger.png' }) image!: string
  @Prop({ default: '45' }) price!: string
  @Prop({ default: '/' }) link!: string
  @Prop({ default: 'red' }) color!: string
  @Prop({ default: 'Seatzac Gaming Chair&trade;' }) title!: string
  @Prop({
    default:
      'Seatzac is the leading brand in Europe when it comes down to air loungers. Most people loved our product but the feedback we got of our SEATZAC™️ and traditional air loungers.',
  })
  text!: string
}
</script>
