<template>
  <div class="page">
    <div class="page-container">
      <div class="page-text">
        <h3
          alt="Seatzac, SeatSac, zitzak, e-zy, portable, lucht, chill, relax, lounger"
        >
          {{ page.title }}
        </h3>
        <nuxt-content :document="page" />
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import { Component, Vue } from 'nuxt-property-decorator'

@Component({
  // @ts-ignore
  async asyncData({ $content, params }) {
    const page = await $content('pages/business', params.slug).fetch()

    return {
      page,
    }
  },
})
export default class categoryPage extends Vue {
  private page = []
}
</script>
