.slide-enter-active {
  transition-duration: 1.2s;
}

.slide-leave-active {
  transition-duration: 0.6s;
}

.slide-enter-to,
.slide-leave {
  max-height: 30rem;
  overflow: hidden;
}

.slide-enter,
.slide-leave-to {
  overflow: hidden;
  max-height: 0;
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.5s;
}
.fade-enter,
.fade-leave-to {
  opacity: 0;
}

.sliding-leave-active,
.sliding-enter-active {
  transition: 0.4s;
}

.sliding-enter {
  transform: translate(100%, 0);
}

.sliding-leave-to {
  transform: translate(100%, 0);
}
