// COLOR VARIABLES
$dark_purple: #332147;
$light_purple: #d392fe;
$purple: #5f0b87;
$dark_purple_second: #250a3d;
$light_grey: #f2f2f2;
$red: #ff3030;
$blue: #3cb9e0;
$green: #abfba3;

// FONT VARIABLES
$font-primary: 'Bebas Neue';
$font-arial: Arial, Helvetica, sans-serif;

// RESPONSIVE BREAKPOINTS
$bp-960: 60em;
$bp-800: 50em;
$bp-600: 37.5em;

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  outline: none !important;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  overflow-x: hidden;
  color: white;
  font-family: $font-primary;
  background-color: $dark_purple_second;
}

ul {
  list-style: none;
}

.arial {
  font-family: $font-arial !important;
  font-size: clamp(1.5rem, 8vw, 1.6rem) !important;
  text-transform: capitalize !important;
}

a {
  cursor: pointer;
  position: relative;
  z-index: 10;
}

a,
p {
  text-decoration: none;
  font-size: 1.6rem;
  font-size: clamp(1.5rem, 8vw, 1.6rem);
  color: white;
  font-family: $font-arial;
}

h1 {
  font-size: 5.5rem;
  font-size: clamp(4.5rem, 8vw, 6rem);
  letter-spacing: 2px;
  font-weight: 100;
  line-height: 0.97;
  position: relative;
  z-index: 10;

  @media screen and (max-width: $bp-600) {
    font-size: 3rem;
    font-size: clamp(2.5rem, 6vw, 3rem);
  }
}

h3 {
  font-size: 4rem;
  font-size: clamp(3.5rem, 7.5vw, 4rem);
  letter-spacing: 2px;
  font-weight: 100;
  line-height: 0.97;
}

h4 {
  font-size: 4rem;
  font-size: clamp(3rem, 7.5vw, 3.5rem);
  letter-spacing: 2px;
  font-weight: 100;
  line-height: 0.97;
}

.small {
  text-align: center;
  font-size: 1.2rem !important;

  @media screen and (max-width: $bp-600) {
    font-size: 0.8rem !important;
  }
}

.small-big {
  text-align: center;
  font-size: 1.4rem !important;
  padding: 0 !important;

  @media screen and (max-width: $bp-600) {
    font-size: 1.1rem !important;
  }
}

.shipping {
  cursor: pointer;
  font-family: 'Bebas Neue';
  font-size: clamp(2rem, 7.5vw, 2.5rem);
  color: #adadad;
  transition: all 500ms ease;
  margin-bottom: 2rem;
}

.container {
  max-width: 110rem;
  margin: 0 auto;
  padding: 0 3rem;

  @media screen and (max-width: $bp-600) {
    padding: 0 1.5rem;
  }
}
