.text {
  li {
    position: relative;
    line-height: 0.9;

    &:nth-child(1) {
      .purple-block {
        width: 100%;
      }
    }

    &:nth-child(2) {
      .purple-block {
        width: 93%;
      }
    }

    h1 {
      position: relative;
      z-index: 10;
      text-shadow: 0px 3px 5px rgba(0, 0, 0, 0.25);
    }
  }

  .purple-block {
    top: 3rem;
    left: 1.5rem;
    height: 70%;
    position: absolute;
    background: $light_purple;

    @media screen and (max-width: $bp-800) {
      top: 2.5rem;
    }
  }
}

.btn {
  padding: 0.3rem 1rem;
  background: $dark_purple;
  border: none;
  cursor: pointer;
  p {
    font-size: 3.5rem;
    font-size: clamp(3.5rem, 7.5vw, 5rem);
    text-transform: uppercase;
    font-family: $font-primary;
    letter-spacing: 2px;
    color: white !important;
  }
}

.btn-green {
  padding: 0.3rem 1rem;
  background: #58df58;
  border: none;
  cursor: pointer;
  transition: all 800ms ease;
  p {
    font-size: 3.5rem;
    font-size: clamp(3.5rem, 7.5vw, 5rem);
    text-transform: uppercase;
    font-family: $font-primary;
    letter-spacing: 2px;
    color: white !important;
  }

  &:hover {
    background: #85fc7a;
  }
}
