.font-dark-purple {
  color: $dark_purple_second;
  font-weight: bold;
}

.font-light-purple {
  color: $light_purple !important;
  font-weight: bold;
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.bold {
  font-weight: bold;
}

.relative {
  position: relative;
}

.margin-12 {
  margin: 8rem 0;

  @media screen and (max-width: $bp-800) {
    margin: 8rem 0;
  }
}

.margin-15 {
  margin: 8rem 0;

  @media screen and (max-width: $bp-800) {
    margin: 8rem 0;
  }
}

.margin-3 {
  margin: 3rem 0;
}

.margin-bottom-0 {
  margin-bottom: 0 !important;
}
