<template>
  <div class="winkelwagen">
    <div class="winkelwagen-container">
      <div class="container">
        <div class="back-button">
          <div @click="goBack">
            <img
              src="images/back.png"
              alt="Seatzac, SeatSac, zitzak, e-zy, portable, lucht, chill, relax, lounger"
            />
          </div>
        </div>
        <div class="winkelwagen-title">
          <h3
            alt="Seatzac, SeatSac, zitzak, e-zy, portable, lucht, chill, relax, lounger"
          >
            Your shopping cart
          </h3>
        </div>
        <client-only>
          <div class="content">
            <div v-if="$route.query.checkoutId">
              <div v-if="node.lineItems.edges.length > 0">
                <ul class="list">
                  <li
                    v-for="item in node.lineItems.edges"
                    :key="item.node.id"
                    class="list-item"
                  >
                    <div class="image">
                      <img
                        :src="item.node.variant.image.src"
                        alt="Seatzac, SeatSac, zitzak, e-zy, portable, lucht, chill, relax, lounger"
                      />
                    </div>
                    <div class="text">
                      <h3
                        alt="Seatzac, SeatSac, zitzak, e-zy, portable, lucht, chill, relax, lounger"
                        class="title"
                      >
                        {{ item.node.title }}
                      </h3>
                      <p class="colour font-light-purple">
                        {{ item.node.variant.title }}
                      </p>
                    </div>
                    <div class="delete">
                      <select
                        v-model="selectedQuantity"
                        class="cart__select"
                        @change="
                          updateQuant(item.node.id, item.node.variant.id)
                        "
                      >
                        <option value disabled>
                          <p>{{ item.node.quantity }} PCS.</p>
                        </option>
                        <option
                          v-for="i in 10"
                          :key="i"
                          :value="i"
                          :selected="checkQuantity(item.node.quantity, i)"
                        >
                          <p>{{ i }} ST.</p>
                        </option>
                      </select>
                      <p
                        class="delete-button"
                        @click="deleteProduct(item.node.id)"
                      >
                        Delete
                      </p>
                    </div>
                    <div class="price">
                      <p class="price-text">
                        &euro; {{ item.node.variant.price }}
                      </p>
                    </div>
                  </li>
                </ul>
              </div>
              <div v-else class="no-items">
                <h4>No SeatZac in your shopping cart yet ...</h4>
              </div>
            </div>
          </div>
          <div v-if="!$route.query.checkoutId" class="no-items">
            <h4>No SeatZac in your shopping cart yet ...</h4>
          </div>
          <div class="winkelwagen-end">
            <div class="winkelwagen-end__container">
              <div class="articles">
                <p>
                  Total articles (<span v-if="$route.query.checkoutId">{{
                    node.lineItems.edges.length
                  }}</span>
                  <span v-else>0</span>)
                </p>
                <div v-if="node.totalPrice">
                  <p class="bold">
                    &euro;
                    {{ Number(node.totalPrice).toFixed(2) }}
                  </p>
                </div>
                <div v-else class="totalprice">
                  <p class="bold">&euro; 0.00</p>
                </div>
              </div>
              <div class="second articles">
                <p>Shipping costs</p>
                <p class="bold">None</p>
              </div>
              <div class="total articles">
                <p class="bold">Total price</p>
                <p class="bold">
                  &euro;
                  <span v-if="$route.query.checkoutId">
                    {{ Number(node.totalPrice).toFixed(2) }}</span
                  ><span v-else>0.00</span>
                </p>
              </div>
              <Checkoutbutton class="continue" />
            </div>
          </div>
        </client-only>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
/* eslint-disable no-undef */
import { Component, Vue } from 'nuxt-property-decorator'
import gsap from 'gsap'
import gqlGetCart from '~/apollo/queries/gqlGetCart.gql'
import gqlUpdateQuantity from '~/apollo/queries/gqlUpdateQuantity.gql'

import { shopStore } from '~/store'

@Component({
  apollo: {
    node: {
      query: gqlGetCart,
      variables() {
        return {
          id: String(this.$route.query.checkoutId).replace('%3D', '='),
        }
      },
      skip() {
        return !this.$route.query.checkoutId
      },
    },
  },
})
export default class WinkelwagenPage extends Vue {
  private node = []
  private checkout = []
  selectedQuantity = ''

  deleteProduct(index) {
    shopStore.deleteLineItem(index)
  }

  checkQuantity(prodQty, qty) {
    if (parseInt(prodQty) === parseInt(qty)) {
      return true
    } else {
      return false
    }
  }

  updateQuant(productId, variantID) {
    try {
      const qty = parseInt(this.selectedQuantity)
      this.selectedQuantity = ''
      this.$apollo.mutate({
        mutation: gqlUpdateQuantity,
        variables: {
          checkoutId: String(this.$route.query.checkoutId).replace('%3D', '='),
          lineItems: [
            {
              id: productId,
              variantId: variantID,
              quantity: qty,
            },
          ],
        },
        update(store, { data: { checkoutLineItemsUpdate } }) {
          try {
            const data = store.readQuery({
              query: gqlGetCart,
              variables: {
                // @ts-ignore
                id: $nuxt.$route.query.checkoutId,
              },
            })
            // @ts-ignore
            data.node.lineItems = checkoutLineItemsUpdate.checkout.lineItems
            // @ts-ignore
            data.node.totalPrice =
              checkoutLineItemsUpdate.checkout.lineItemsSubtotalPrice.amount

            store.writeQuery({
              query: gqlGetCart,
              // @ts-ignore
              variables: { id: $nuxt.$route.query.checkoutId },
              data,
            })
            // @ts-ignore
            $nuxt.$toast.success('Updated quantity!').goAway(800)
          } catch (error) {
            // @ts-ignore
            $nuxt.$toast.error(error).goAway(800)
            // console.log(error)
          }
        },
      })
    } catch (error) {
      // @ts-ignore
      $nuxt.$toast.error(error).goAway(800)
      // console.log(error)
    }
  }

  goBack() {
    window.history.back()
  }

  addAnimation() {
    const timeline = gsap.timeline({})
    timeline.to('.winkelwagen-container', {
      duration: 1.2,
      paddingTop: '18rem',
      ease: 'elastic',
    })
  }

  mounted() {}
}
</script>
