.cookie {
  position: fixed;
  bottom: 0;
  width: 100%;
  left: 0;
  background-color: $dark_purple;
  z-index: 100;

  &-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 3rem;
    transition: all 500ms ease;

    @media screen and (max-width: $bp-800) {
      flex-direction: column;
      align-items: flex-end;
    }
  }

  &-text {
    flex: 1;
    transition: all 500ms ease;

    @media screen and (max-width: $bp-800) {
      margin-bottom: 1rem;
    }

    a {
      text-decoration: underline;
    }

    p {
      line-height: 1.7;
    }
  }

  &-buttons {
    // margin-top: 1rem;
    margin: 0.5rem 0;
    flex: 0 0 30%;
    display: flex;
    margin-left: 2rem;
    transition: all 500ms ease;
    justify-content: flex-end;

    .btn-green {
      border: none;
      background-color: #58df58;
      padding: 1.7rem 3rem;
      cursor: pointer;
      border-radius: 4px;

      p {
        font-size: clamp(1.7rem, 8vw, 1.8rem);
      }
    }

    .btn-red {
      border: none;
      padding: 1rem 3rem;
      background: none;
      cursor: pointer;
    }
  }
}
