.footer {
  background-color: $dark_purple_second;
  border-top: 1px solid white;

  &-logo {
    transition: all 500ms ease;
    img {
      width: 12rem;
      height: auto;
      margin-bottom: 3rem;
    }

    @media screen and (max-width: $bp-800) {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  }

  &-seatzac {
    li {
      transition: all 500ms ease;
      @media screen and (min-width: $bp-800) {
        margin-bottom: 2rem;
      }

      &:last-child {
        margin-bottom: 0;
      }

      h3 {
        transition: all 500ms ease;

        @media screen and (max-width: $bp-800) {
          font-size: clamp(4.5rem, 5.8vw, 6rem);
          font-weight: bold;
        }
      }
    }
  }

  &-social {
    display: flex;
    justify-content: flex-start;
    align-items: center;

    li {
      padding-right: 1rem;
      img {
        width: 5rem;
      }
    }
  }

  &-container {
    padding: 8rem 3rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 120rem;
    margin: 0 auto;
    transition: all 500ms ease;

    @media screen and (max-width: $bp-800) {
      padding: 5rem 3rem 4rem;
      flex-direction: column;
      text-align: center;
      justify-content: center;
    }

    .footer-1 {
      @media screen and (max-width: $bp-800) {
        margin-bottom: 3rem;
      }
    }

    .list-mobile {
      margin: 3rem 0 0;
      &-item {
        display: none;
        margin-bottom: 2rem;
        @media screen and (max-width: $bp-800) {
          display: block !important;
        }
      }
    }

    .footer-2,
    .footer-3,
    .footer-4,
    .footer-5 {
      li {
        @media screen and (max-width: $bp-800) {
          display: none;

          &:first-child {
            display: block;
          }
        }
      }
    }

    .footer-5 {
      @media screen and (max-width: $bp-800) {
        margin-bottom: 3rem;
      }
    }

    .footer-1,
    .footer-2,
    .footer-3 {
      transition: all 800ms ease;
      @media screen and (min-width: $bp-800) and (max-width: 1080px) {
        flex: 0 0 33%;
        display: flex;
        justify-content: center;
        margin-bottom: 7rem;
      }

      @media screen and (max-width: $bp-800) {
        max-width: 30rem;
        text-align: center;
        margin: 0 auto 5rem;
      }
    }

    .footer-4,
    .footer-5 {
      transition: all 800ms ease;
      @media screen and (min-width: $bp-800) and (max-width: 1080px) {
        flex: 0 0 50%;
        display: flex;
        justify-content: center;
      }

      @media screen and (max-width: $bp-800) {
        max-width: 30rem;
        text-align: center;
        margin: 0 auto 5rem;
      }
    }
  }

  &-end {
    max-width: 120rem;
    margin: 0 auto;
    padding: 0 3rem;
  }

  &-line {
    height: 1px;
    background-color: white;
    width: 100%;
  }

  &-copy {
    padding: 5rem 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: all 500ms ease;

    @media screen and (max-width: 700px) {
      flex-direction: column-reverse;
    }

    p {
      font-size: 1.4rem;
      font-size: clamp(1.5rem, 8vw, 1.5rem);
    }
  }

  .omhoog {
    margin-top: 2rem;
  }

  .title-desktop {
    display: none;
    margin-bottom: 3rem;
    @media screen and (min-width: $bp-800) {
      display: block;
    }
  }

  .title-flex {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;

    h3 {
      padding-right: 1rem;
    }

    img {
      height: auto;
      width: 2.2rem;
      right: -3rem;
      transform: rotate(0deg);
      transition: transform 300ms linear;

      &.turn {
        transform: rotate(-90deg);
      }
    }
  }

  .title-mobile {
    display: none;
    cursor: pointer;

    @media screen and (max-width: $bp-800) {
      display: block;
    }
  }

  &-pay {
    display: flex;

    @media screen and (max-width: 700px) {
      margin-bottom: 3rem;
    }
    li {
      margin-left: 1rem;
      border: 1px solid white;
      border-radius: 25px;
      padding: 0.7rem;
      display: flex;
      align-items: center;
      justify-content: center;
      img {
        width: 3.2rem;
        height: auto;
      }
    }
  }
}
