.header {
  position: absolute;
  z-index: 20;
  width: 100%;
  padding: 3rem;

  .cart-quantity {
    position: absolute;
    right: 3px;
    top: 0px;

    p {
      font-size: clamp(2rem, 7vw, 2.5rem) !important;
    }
  }

  .hamburger-contain {
    background-color: $dark_purple;
    position: absolute;
    right: -10rem;
    top: 50%;
    transform: translateY(-50%);
    width: 5.5rem;
    height: 4.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 100;
    cursor: pointer;
  }

  .hamburger {
    width: 38px;
    height: 28px;
    transform: rotate(0deg);
    cursor: pointer;
    z-index: 30;
    backface-visibility: hidden;
    will-change: transform;

    span {
      display: block;
      position: absolute;
      height: 5px;
      width: 100%;
      background: white;
      border-radius: 4px;
      opacity: 1;
      left: 0;
      transform: rotate(0deg);
      transition: 0.25s ease-in-out;

      &:nth-child(1) {
        top: 0px;
      }

      &:nth-child(2) {
        top: 50%;
        transform: translateY(-50%);
      }

      &:nth-child(3) {
        top: 100%;
        transform: translateY(-100%);
      }
    }

    &.open {
      span {
        &:nth-child(1) {
          top: 50%;
          transform: rotate(135deg);
        }

        &:nth-child(2) {
          opacity: 0;
          left: -60px;
        }

        &:nth-child(3) {
          top: 50%;
          transform: rotate(-135deg);
        }
      }
    }

    @media screen and (max-width: 1024px) {
      display: block;
    }
  }

  .hovering {
    width: 102%;
    height: 80%;
    top: 0;
    left: 0;
    position: absolute;
    background-color: $light_purple;
    transition: all 500ms ease;
  }

  .active_purple {
    // width: 100% !important;
    // transition: all 800ms ease;
    // left: 0 !important;
  }

  .purple-block-menu {
    @media screen and (max-width: 960px) {
      background: $light_purple;
      position: absolute;
      width: 100%;
      height: 75%;
      left: 7px;
      top: 13px;
      z-index: -1;
    }
  }

  .vol {
    background: $light_purple;
    position: absolute;
    width: 0;
    height: 85%;
    left: 5px;
    top: 8px;
    z-index: -1;
  }

  .active-menu-item {
    position: relative;
    .purple-block-menu {
      background: $light_purple;
      position: absolute;
      width: 0;
      height: 85%;
      left: 5px;
      top: 8px;
      z-index: -1;

      // @media screen and (max-width: 960px) {
      //   width: 100%;
      //   height: 75%;
      //   left: 7px;
      //   top: 13px;
      //   z-index: -1;
      // }
    }
  }

  &-logo {
    position: relative;
    top: 50rem;
    transform: scale(0);
    backface-visibility: hidden;
    will-change: transform;
    img {
      width: 13rem;
      height: auto;
    }
  }

  .cart {
    position: absolute;
    right: -80rem;
    top: -3rem;
    z-index: 1;
    background: $light_purple;

    &-container {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      height: 6.5rem;
      width: 18.5rem;
      padding-right: 2rem;
      transition: all 500ms ease;

      @media screen and (max-width: 960px) {
        padding-right: 0;
        width: 100%;
        height: auto;
      }

      p {
        font-size: clamp(2.3rem, 7vw, 3rem);
        font-family: $font-primary;
        letter-spacing: 1px;
      }

      img {
        height: auto;
        width: 4.5rem;
        // margin-left: 1.5rem;
        margin: 0 1rem;
      }
    }
  }

  &-contain {
    top: 6rem;
    width: 0;
    position: absolute;
    right: 18rem;
    backface-visibility: hidden;
    will-change: transform;

    @media screen and (max-width: 800px) {
      display: none;
    }
  }

  &-menu {
    background-color: $dark_purple_second;
    position: relative;
    z-index: 10;
    left: -1.8rem;
    backface-visibility: hidden;
    will-change: transform;

    .menu {
      margin: 0 auto;
      padding: 0 1rem;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 6.5rem;
      transform: scale(0);
      backface-visibility: hidden;
      will-change: transform;

      &-item {
        position: relative;
        padding: 0 2.5rem;
        a {
          font-size: clamp(2rem, 2.5vw, 3.5rem);
          font-family: $font-primary;
          letter-spacing: 1px;
        }
        .line {
          position: absolute;
          top: -1rem;
          width: 1px;
          height: 2.2rem;
          background-color: white;
        }
      }
    }
  }

  &-container {
    display: flex;
    justify-content: space-between;
  }
}
