.heading {
  height: 75vh;
  width: 100%;
  position: relative;
  transition: all 500ms ease;

  @media screen and (max-height: 750px) and (max-width: $bp-600) {
    height: 60vh;
  }

  .divje {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }

  &-video {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &__background {
    width: 100%;
    height: 100%;
    position: absolute;
    background: url('/images/header.jpg');
    background-size: cover !important;
    background-position: center 50% !important;
    top: 0;
  }

  &__text {
    li {
      position: relative;
    }
  }

  .content {
    position: absolute;
    bottom: 3rem;
    right: 3rem;
    // left: 50%;
    // text-align: center;
    // transform: translateX(-50%);
    // display: flex;
    // justify-content: center;
    // text-align: left;
    // flex-direction: column;
    // transition: all 800ms ease;
    // align-items: center;
    // justify-content: space-between;
    // width: 100%;

    .title1,
    .title2 {
      position: relative;

      h1 {
        text-shadow: 0px 3px 5px rgba(0, 0, 0, 0.25);
      }
    }

    .color-block {
      position: absolute;
      width: 100%;
      height: 70%;
      left: 0.6rem;
      top: 1.8rem;
      transition: all 500ms ease;
      // z-index: -1;

      @media screen and (max-width: $bp-600) {
        top: 0.9rem;
        left: 0.3rem;
      }
    }

    // .red-block {
    //   background: $red;
    // }

    // .blue-block {
    //   background: $blue;
    // }

    // .green-block {
    //   background: $green;
    // }

    .purple-block {
      background: $light_purple;
    }
  }
}

.category {
  .text {
    li {
      position: relative;
      line-height: 0.9;

      &:nth-child(1) {
        .red-block {
          width: 100%;
        }
      }

      &:nth-child(2) {
        max-width: 40rem;
        .red-block {
          width: 100%;
        }
      }
    }

    .red-block {
      top: 3rem;
      left: 1.5rem;
      height: 70%;
      position: absolute;
      background: $red;

      @media screen and (max-width: $bp-800) {
        top: 2.5rem;
      }
    }
  }
}
