.menu-mobile {
  position: absolute;
  right: 0;
  top: 0;
  width: 50vw;
  height: 100vh;
  bottom: 0;
  z-index: 30;
  background-color: $dark_purple;
  display: flex;
  align-items: center;
  justify-content: center;
  border-left: 3px solid $light_purple;
  box-shadow: -8px 0px 10px rgba(0, 0, 0, 0.2);
  transition: all 500ms ease;

  @media screen and (max-width: $bp-600) {
    width: 75vw;
  }

  .active-menu-item {
    position: relative;
    .purple-block {
      background: $light_purple;
      position: absolute;
      width: 100%;
      height: 85%;
      left: 5px;
      top: 8px;
      z-index: -1;
    }
  }

  .pink-layer {
    .purple-block {
      height: 75%;
      top: 14px;
      left: 8px;
    }

    p {
      font-size: clamp(4rem, 8vw, 4rem);
      font-family: $font-primary;
      letter-spacing: 1px;
    }
  }

  .layers {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 45vh;
    position: absolute;
    top: 45%;
    transform: translateY(-50%);

    @media screen and (max-width: $bp-600) and (max-height: 700px) {
      top: 40%;
    }

    a {
      font-size: clamp(4rem, 8vw, 4rem);
      font-family: $font-primary;
      letter-spacing: 1px;
    }

    .undefined-layer {
      display: none !important;
    }

    .layer {
      height: 25%;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}
