.product-box {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1.5rem 0;
  transition: all 800ms ease;
  background: #f2f2f2;

  &-color {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
    top: 0;
    left: 0;
  }

  &-blue {
    background-color: $blue;
  }

  &-red {
    background-color: $red;
  }

  &-green {
    background-color: $green;
  }

  .relative {
    height: 100%;
    width: 100%;
  }

  @media screen and (max-width: $bp-800) {
    flex-direction: column;
    margin-bottom: 7rem;
  }

  .content {
    max-width: 80%;
    @media screen and (max-width: $bp-800) {
      padding: 3rem 0;
    }
    // padding: 4rem 0;
  }

  &__image {
    width: 100%;
    flex: 1.2;

    .image {
      background-size: cover !important;
      background-repeat: no-repeat !important;
      background-position: center center !important;
      transition: all 800ms ease;
      height: 50rem;
      position: relative;
      z-index: 10;

      @media screen and (max-width: $bp-800) {
        background-size: contain !important;
        flex: auto;
        height: 40rem;
      }

      @media screen and (max-width: $bp-600) {
        background-size: cover !important;
        flex: auto;
        height: 40rem;
      }
    }

    @media screen and (max-width: $bp-800) {
      background-size: contain !important;
      flex: auto;
      height: 40rem;
    }

    @media screen and (max-width: $bp-600) {
      background-size: cover !important;
      flex: auto;
      height: 40rem;
    }
  }

  &__text {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;

    .price {
      padding: 0 0.3rem;
      background: $light_purple;
      display: inline-block;
      margin-bottom: 2rem;
      text-align: center;

      p {
        padding: 1rem;
        font-size: clamp(2rem, 5vw, 3.5rem);
        color: white;
        font-family: 'Bebas Neue';
        letter-spacing: 1.5px;
      }
    }

    .title {
      margin-bottom: 2rem;
      max-width: 80%;
      h3 {
        font-size: clamp(3.5rem, 7.5vw, 5rem);
        letter-spacing: 2px;
      }
    }

    .text {
      margin-bottom: 2rem;
      p {
        line-height: 2;
      }
    }

    p,
    h3 {
      color: black;
    }
  }
}
