.slider {
  margin: 4rem auto;
  max-width: 110rem;
  transition: all 800ms ease;

  @media screen and (max-width: $bp-800) {
    margin-left: 0;
    overflow: hidden;
  }

  &-next {
    position: absolute;
    top: 45%;
    transform: translateY(-50%);
    z-index: 1;
    right: 3rem;
    cursor: pointer;

    @media screen and (max-width: $bp-800) {
      right: 0.5rem;
    }

    img {
      width: 6rem;
      height: auto;
      transition: all 500ms ease;

      @media screen and (max-width: $bp-960) {
        width: 4rem;
      }
    }
  }

  &-prev {
    position: absolute;
    top: 45%;
    transform: translateY(-50%);
    z-index: 1;
    left: 3rem;
    cursor: pointer;

    @media screen and (max-width: $bp-800) {
      left: 0.5rem;
    }

    img {
      width: 6rem;
      height: auto;
      transition: all 500ms ease;

      @media screen and (max-width: $bp-960) {
        width: 4rem;
      }
    }
  }

  .swiper {
    &-container {
      overflow: inherit !important;
      transition: all 500ms ease;
      left: -15px;
      margin-left: 4.5rem;
      z-index: 0;

      @media screen and (max-width: $bp-800) {
        margin-left: 3rem;
      }
    }
  }
}

.home,
.product {
  .chair {
    &-item {
      background-color: $light_grey;
      transition: all 800ms ease;

      &__container {
        padding: 2rem;
        .content {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
        }

        .btn {
          background-color: $green;
          transition: all 500ms ease;

          &:hover {
            background-color: #8af380;
          }
        }

        img {
          max-width: 100%;
          width: 65vw;
          height: 24rem;
          object-fit: contain;
          margin-bottom: 1rem;
        }

        .purple-block {
          background-color: $light_purple;
          padding: 0.3rem 1rem;
          p {
            font-size: clamp(2rem, 5vw, 3rem);
            color: white;
            font-family: $font-primary;
            letter-spacing: 1.5px;
          }
        }
      }

      &__information {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 95%;
        margin-bottom: 2rem;
        height: 4rem;
      }
    }
  }
}

.category {
  .chair {
    &-item {
      background-color: $light_grey;
      transition: all 800ms ease;

      .btns {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;

        li {
          &:first-child {
            margin-right: 1.5rem;
          }

          &:nth-child(2) {
            @media screen and (max-width: 830px) {
              margin-top: 1.5rem;
            }
          }
        }
      }

      &-btn {
        padding: 0.3rem 1rem;
        background: #332147;
        border: none;
        cursor: pointer;
        font-size: clamp(3.5rem, 7.5vw, 5rem);
        text-transform: uppercase;
        font-family: $font-primary;
        letter-spacing: 2px;
        color: #fff !important;
        z-index: 30;
      }

      &__container {
        transition: all 800ms ease;

        .content {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          padding: 5rem;
          transition: all 500ms ease;

          @media screen and (max-width: $bp-800) {
            padding: 3rem 2rem;
          }
        }

        img {
          max-width: 100%;
          width: 50vw;
          height: auto;

          @media screen and (max-width: 800px) {
            margin-bottom: 1rem;
          }
        }

        .chair-text {
          padding: 0.3rem 1rem 0.5rem;
          background-color: $light_purple;
          p {
            font-size: clamp(2rem, 5vw, 3.5rem);
            color: white;
            font-family: $font-primary;
            letter-spacing: 1.5px;
          }
        }
      }

      &__information__second {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        width: 95%;
        flex-direction: column;
        position: relative;

        .title-category {
          font-size: clamp(1.5rem, 4vw, 2.5rem);
        }

        .button {
          .btn {
            position: relative;
            a {
              position: absolute;
              width: 100%;
              height: 100%;
              left: 0;
              top: 0;
              z-index: 40;
            }
          }
        }

        li {
          margin-bottom: 2rem;

          @media screen and (max-width: $bp-800) {
            margin-bottom: 1rem;
          }

          &:last-child {
            margin-bottom: 0;
          }

          // &:last-child {
          //   margin: 0;
          // }
        }
      }

      &__information {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        width: 95%;
        position: relative;

        .title-category {
          font-size: clamp(1.5rem, 4vw, 2.5rem);
        }

        .button {
          .btn {
            position: relative;
            a {
              position: absolute;
              width: 100%;
              height: 100%;
              left: 0;
              top: 0;
              z-index: 40;
            }
          }
        }

        li {
          margin-bottom: 2rem;

          @media screen and (max-width: $bp-800) {
            margin-bottom: 1rem;
          }

          &:last-child {
            margin-bottom: 0;
          }

          // &:last-child {
          //   margin: 0;
          // }
        }
      }
    }
  }
}
