.social {
  margin: 0 5rem;
  min-height: 60vw;
  position: relative;
  transition: all 500ms ease;

  @media screen and (max-width: $bp-600) {
    margin: 0 1.5rem !important;
  }

  @media screen and (max-width: $bp-600) {
    min-height: 185rem;
  }

  @media screen and (max-width: 1200px) {
    margin: 0 3rem;
  }

  &-list {
    &__small {
      height: 18vw;
      width: 18vw;

      @media screen and (max-width: 900px) {
        height: 23rem;
        width: 22rem;
      }
    }

    &__item {
      position: relative;
      transition: all 800ms ease;
      .image {
        opacity: 0;
        background-size: cover !important;
        background-repeat: no-repeat !important;
        background-position: center center !important;
        position: absolute;
        width: 0;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
      }

      .text {
        position: relative;

        .title {
          position: relative;
          font-family: $font-primary;
          z-index: 2;
          letter-spacing: 2px;
          font-size: clamp(3.5rem, 3.5vw, 5rem);
          text-shadow: 0px 3px 5px rgba(0, 0, 0, 0.25);
        }

        .purple-block-social {
          position: absolute;
          width: 100%;
          height: 85%;
          background: $light_purple;
          left: 0.8rem;
          top: 1.7rem;
          z-index: 1;
        }
      }
    }

    &__1 {
      position: absolute;
      top: 0;
      left: 0;

      @media screen and (min-width: $bp-600) and (max-width: 900px) {
        z-index: 10;
        top: -10%;
      }
    }

    &__2 {
      height: 29vw;
      width: 27vw;
      position: absolute;
      z-index: 8;

      @media screen and (min-width: $bp-600) {
        left: 28%;
        top: 50%;
        transform: translate(-50%, -50%);
      }

      @media screen and (max-width: $bp-600) {
        right: 0;
        top: 16%;
        transform: translateY(-50%);
        width: 60vw;
        height: 58vw;
      }
    }

    &__3 {
      position: absolute;
      display: block;

      @media screen and (min-width: $bp-600) {
        left: 5%;
        transform: translateX(-5%);
        bottom: 0;
      }

      @media screen and (min-width: $bp-600) and (max-width: 900px) {
        z-index: 10;
        left: 20%;
      }

      @media screen and (max-width: $bp-600) {
        right: 0;
        top: 36.5%;
        transform: translateY(-50%);
        z-index: 20;
      }
    }

    &__4 {
      height: 90%;
      width: 28vw;
      position: absolute;

      @media screen and (min-width: $bp-600) {
        top: 40%;
        left: 55%;
        transform: translate(-50%, -50%);
      }

      @media screen and (max-width: $bp-600) {
        left: 0;
        height: 60rem;
        width: 63vw;
        top: 37%;
        transform: translateY(-50%);
        z-index: 10;
      }
    }

    &__5 {
      position: absolute;
      z-index: 3;

      @media screen and (min-width: $bp-600) {
        top: 6rem;
        left: 75%;
        transform: translateX(-50%);
      }

      @media screen and (max-width: $bp-600) {
        left: 5rem;
        top: 70%;
        transform: translateY(-50%);
        z-index: 25;
      }

      @media screen and (max-width: 500px) {
        left: 0;
      }
    }

    &__6 {
      position: absolute;
      width: 25vw;
      height: 25vw;

      @media screen and (min-width: $bp-600) {
        bottom: 5rem;
        left: 62%;
        transform: translateX(-50%);
      }

      @media screen and (max-width: $bp-600) {
        top: 59%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 60vw;
        height: 58vw;
        z-index: 20;
      }
    }

    &__7 {
      height: 70%;
      width: 20vw;
      position: absolute;
      bottom: 0;
      right: 0;

      @media screen and (max-width: $bp-600) {
        width: 55vw;
        height: 50rem;
        z-index: 30;
      }
    }
  }
}
