.category {
  .two-images {
    max-width: 116rem;
    margin: 0 auto;
    transition: all 500ms ease;

    &-one,
    &-two {
      position: absolute;
      transition: all 500ms ease;
      z-index: 10;
    }

    &-one {
      width: 45% !important;
      height: 100%;
      left: 0;
      bottom: -1rem;

      @media screen and (max-width: $bp-800) {
        width: 60% !important;
        bottom: 2rem;
      }
    }

    &-two {
      width: 59%;
      height: 70%;
      right: 0;
      top: 55%;
      transform: translateY(-50%);

      @media screen and (max-width: $bp-800) {
        width: 70%;
        height: 75%;
        top: 70%;
      }
    }

    &__container {
      display: flex;
      align-items: flex-start;
      justify-content: flex-start;
      position: relative;
      margin: 0 2rem;
      height: 44vw;
      transition: all 500ms ease;

      @media screen and (max-width: 1150px) {
        height: 50vw;
      }

      @media screen and (max-width: $bp-800) {
        height: 60vw;
        margin: 0 1rem;
      }
    }

    .image-1,
    .image-2 {
      left: -5rem;
      opacity: 0;
      width: 0;
      height: 100%;
      position: absolute;
      background-size: cover !important;
      background-repeat: no-repeat !important;
      background-position: center center !important;
    }
  }
}
