.home {
  &-text-box {
    background: $light_grey;

    .content {
      max-width: 65%;
      margin: 0 auto;
      padding: 5rem 0;

      @media screen and (max-width: $bp-800) {
        max-width: 80%;
      }
    }

    .title {
      margin-bottom: 4rem;
      position: relative;
      max-width: 45rem;

      @media screen and (max-width: $bp-800) {
        max-width: 40rem;
      }

      @media screen and (max-width: $bp-600) {
        max-width: 35rem;
      }

      h3 {
        font-size: clamp(6rem, 9vw, 8rem);
        text-shadow: 0px 3px 5px rgba(0, 0, 0, 0.25);
        position: relative;
        z-index: 10;
      }
    }

    .purple-block {
      position: absolute;
      width: 100%;
      height: 80%;
      background: $light_purple;
      top: 2.5rem;
      left: 1rem;

      @media screen and (max-width: $bp-800) {
        top: 2rem;
        left: 1rem;
      }
    }
  }
}
