.page {
  &-container {
    padding-top: 22rem;
    min-height: 60rem;
    background-color: $dark_purple_second;
    padding-bottom: 10rem;

    @media screen and (max-width: $bp-800) {
      padding-top: 16rem;
    }
  }

  .questions {
    &-flex {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
    }

    &-answer {
      margin: 2rem 0;
      p {
        color: $dark_purple_second;
        font-size: 1.6rem;
        font-size: clamp(1.5rem, 8vw, 1.6rem) !important;
        font-family: $font-arial !important;
        letter-spacing: 0 !important;
        line-height: 1.6;
      }

      ul {
        margin-bottom: 2rem;
      }
    }

    &-item {
      display: flex;
      background-color: $light_grey;
      margin-bottom: 1.5rem;
      padding: 0.5rem 0;
      flex-direction: column;
      cursor: pointer;

      p {
        padding: 0.3rem 1rem;
        color: $dark_purple_second;
        font-family: 'Bebas Neue';
        font-size: clamp(3rem, 8vw, 3.5rem);
        letter-spacing: 0.5px;
      }

      img {
        width: 2.5rem;
        height: 2.5rem;
        margin-right: 1rem;
        transition: all 300ms ease;

        &.turn {
          transform: rotate(90deg);
        }
      }
    }
  }

  &-text {
    max-width: 90rem;
    margin: 0 auto;
    padding: 0 3rem;

    h3 {
      font-weight: bold;
      color: white;
      margin-bottom: 3rem;
    }

    a {
      color: white;
    }

    .nuxt-content-container,
    .nuxt-content {
      p {
        margin-bottom: 2rem;
        color: white !important;
        line-height: 1.8;
      }
    }
  }
}

.text-block {
  background-color: $light_grey;
  .content {
    max-width: 65%;
    margin: 0 auto;
    padding: 5rem 0;

    @media screen and (max-width: $bp-800) {
      max-width: 80%;
    }
  }

  .grey-block {
    position: absolute;
    left: 0;
    top: -15rem;
    width: 100%;
    height: 20rem;
    background-color: $light_grey;
    z-index: -1;
  }

  .text {
    p {
      line-height: 2;
      color: black;
      margin-bottom: 1rem;
    }
  }

  .title {
    position: relative;
    max-width: 100%;
    margin-top: 2rem;
    margin-bottom: 4rem;

    h3 {
      font-size: clamp(4.2rem, 7vw, 8rem);
      text-shadow: 0px 3px 5px rgba(0, 0, 0, 0.25);
      position: relative;
      z-index: 10;
    }

    .purple-block-text {
      position: absolute;
      width: 0;
      height: 80%;
      background: $light_purple;
      top: 2.5rem;
      left: 1rem;
      transition: all 500ms ease;

      @media screen and (max-width: $bp-800) {
        top: 1.3rem;
        left: 0.6rem;
      }
    }
  }

  ul {
    margin-top: 3rem;
    display: flex;
    align-items: center;
    transition: all 800ms ease;

    @media screen and (max-width: $bp-600) {
      flex-direction: column;
      align-items: flex-start;
    }

    li {
      p {
        line-height: normal !important;
        margin-bottom: 0 !important;
      }

      .btn-text {
        background-color: $light_purple;
        margin-left: 3rem;
        border: none;
        padding: 0.3rem 1rem;
        cursor: pointer;

        @media screen and (max-width: $bp-600) {
          margin: 3rem 0 0;
        }

        p {
          font-size: clamp(2rem, 7.5vw, 3.5rem);
          color: white;
          font-family: $font-primary;
          letter-spacing: 1px;
        }
      }
    }
  }
}

.nuxt-content {
  ul {
    list-style: square;
    margin-left: 1.2rem;
  }

  .table-overflow {
    @media screen and (max-width: 800px) {
      overflow: auto;
    }
  }

  table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;

    p {
      margin-bottom: 0 !important;
    }
  }

  td,
  th {
    border: 1px solid white;
    text-align: left;
    padding: 8px;
  }

  tr:nth-child(even) {
    background-color: $light_purple;
  }
}
