.product {
  &-container {
    padding-top: 18rem;
    padding-bottom: 8rem;
    min-height: 60rem;
    background-color: $dark_purple_second;
  }

  .slider {
    margin-top: 4rem;
    margin-bottom: 8rem;
  }

  .btn-light {
    background-color: $light_purple;
  }

  &-content {
    display: flex;
    margin-top: 3rem;

    @media screen and (max-width: $bp-800) {
      flex-direction: column;
    }

    .text {
      flex: 1;
      display: flex;
      flex-direction: column;
      margin-left: 3rem;
      justify-content: center;
      align-items: flex-start;
      transition: all 500ms ease;

      @media screen and (max-width: $bp-800) {
        margin-left: 0;
        max-width: 85%;
        margin: 0 auto;
      }

      &-select {
        display: flex;
        flex-direction: column;
      }

      .title {
        color: $light_purple;
        font-family: $font-arial;
        font-weight: bold;
        letter-spacing: 0px;
        margin-bottom: 2.5rem;
        line-height: 1.15;
      }

      .select {
        margin: 0.3rem 0;
        width: 15rem;
        border: none;
        font-size: clamp(2.8rem, 8vw, 3.3rem);
        font-family: $font-primary;
        letter-spacing: 1px;
        padding: 0.3rem 1rem;
        background-image: url('/images/down-arrow.png');
        background-color: white;
        background-repeat: no-repeat;
        background-position-x: 90%;
        background-position-y: 50%;
        -moz-appearance: none;
        -webkit-appearance: none;
        appearance: none;
        cursor: pointer;
      }

      .btn {
        margin: 5rem 0;
      }

      .description {
        &-title {
          color: white;
          font-family: $font-arial;
          font-weight: bold;
          margin-bottom: 1rem;
        }

        &-text {
          color: white;
          font-family: $font-arial;
          line-height: 2;
          margin-bottom: 3rem;
          max-width: 90%;
        }
      }

      .information-list {
        width: 90%;
        transition: all 500ms ease;

        .btn-white {
          background-color: white;
          width: 100%;
          margin-bottom: 0.6rem;
          position: relative;
          cursor: pointer;
          display: flex;
          align-items: center;
          justify-content: space-between;

          p {
            padding: 0.3rem 1rem;
            color: $dark_purple;
            font-family: $font-primary;
            font-size: clamp(3rem, 8vw, 3.5rem);
            letter-spacing: 0.5px;
          }

          a {
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            z-index: 10;
          }

          .arrow {
            width: 2.5rem;
            height: 2.5rem;
            margin-right: 1rem;
            transition: all 300ms ease;

            &.turn {
              position: absolute;
              right: 0;
              transform: rotate(90deg);
            }
          }
        }
      }
    }

    .images {
      flex: 1.4;
      transition: all 500ms ease;

      @media screen and (max-width: $bp-800) {
        display: flex;
        height: 70vw;
        margin-bottom: 4rem;
      }

      &-small {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 1rem;

        @media screen and (max-width: $bp-800) {
          flex-direction: column;
          flex: 1;
          margin-top: 0;
        }

        .image {
          position: absolute;
          width: 80%;
          height: 80%;
          background-size: contain !important;
          background-repeat: no-repeat !important;
          background-position: center center !important;
          transition: all 500ms ease;

          @media screen and (max-width: $bp-800) {
            width: 85%;
            height: 85%;
          }
        }

        &.e-zy {
          li {
            background-color: $blue;
          }
        }

        &.lounger {
          li {
            background-color: $green;
          }
        }

        li {
          background-color: $red;
          flex: 1;
          display: flex;
          align-items: center;
          justify-content: center;
          padding: 2rem;
          transition: all 500ms ease;
          position: relative;
          cursor: pointer;

          @media screen and (min-width: $bp-800) {
            height: 20rem;
          }

          @media screen and (max-width: $bp-800) {
            flex: 0 0 32%;
            width: 100%;
          }

          &:nth-child(2) {
            margin: 0 1rem;

            @media screen and (max-width: $bp-800) {
              margin: 0;
            }
          }

          img {
            width: 100%;
            height: auto;
            object-fit: contain;
            transition: all 500ms ease;

            @media screen and (max-width: $bp-800) {
              width: 70%;
            }
          }
        }
      }

      &-big {
        position: relative;
        background: $red;
        padding: 5rem;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: all 500ms ease;

        @media screen and (min-width: $bp-800) {
          height: 60rem;
        }

        @media screen and (max-width: $bp-800) {
          flex: 1.6;
          margin-right: 1rem;
        }

        &.e-zy {
          background-color: $blue;
        }

        &.lounger {
          background-color: $green;
        }

        img {
          width: 100%;
          height: 100%;
          object-fit: contain;
        }

        .image-big {
          width: 100%;
          height: 100%;
          position: absolute;
          top: 0;
          left: 0;
          background-size: contain !important;
          background-position: center center !important;
          background-repeat: no-repeat !important;
        }
      }
    }
  }

  .back-button {
    cursor: pointer;
    width: 5rem;
    img {
      width: 5rem;
      height: auto;
    }
  }
}

.content {
  &-text {
    padding: 1rem 1rem 2rem;
    p {
      color: white;
      line-height: 2;
    }
  }
}
