.winkelwagen {
  &-container {
    padding-top: 18rem;
    padding-bottom: 8rem;
    min-height: 60rem;
    background-color: $dark_purple_second;
    position: relative;
  }

  &-title {
    margin-top: 3rem;
    margin-bottom: 6rem;
    position: relative;
    max-width: 60rem;

    h3 {
      font-family: $font-arial;
      letter-spacing: 0;
      font-size: clamp(4rem, 7.5vw, 4.5rem);
      position: relative;
      color: $light_purple;
      font-weight: bold;
    }

    .purple-block {
      background-color: $light_purple;
      width: 100%;
      height: 70%;
      position: absolute;
      left: 0.5rem;
      bottom: -0.5rem;
      z-index: 1;
    }
  }

  &-end {
    background-color: white;
    display: flex;
    justify-content: flex-end;
    margin-top: 5rem;

    &__container {
      padding: 3rem 2rem;
      max-width: 40rem;
      width: 40rem;
    }

    .articles {
      display: flex;
      padding: 1rem;
      justify-content: space-between;
      align-items: center;
      p {
        color: $dark_purple;
      }

      &.second {
        margin-bottom: 1rem;
      }
    }

    .total {
      border-top: 1px solid $dark_purple;
    }

    .continue {
      float: right;
      margin: 3rem 0;
      .btn {
        background: rgb(88, 223, 88);
      }
    }
  }

  .content {
    border-top: 1px solid $dark_purple;
  }

  .no-items {
    height: 15rem;
    display: flex;
    align-items: center;
    transition: all 500ms ease;
    h4 {
      color: $light_purple;
    }
    border-bottom: 1px solid $dark_purple;
  }

  .list {
    &-item {
      display: flex;
      justify-content: space-between;
      align-items: center;
      border-bottom: 1px solid $dark_purple;
      padding: 3rem 0;
      transition: all 500ms ease;

      p {
        color: $light_purple;
      }

      .text {
        flex: 1 0 40%;
        transition: all 500ms ease;

        @media screen and (max-width: 1024px) {
          flex: 1 0 30%;
        }

        @media screen and (max-width: $bp-600) {
          flex: 1 0 25%;
        }

        .title {
          letter-spacing: 1px;
          font-size: clamp(2rem, 5vw, 4.2rem);
          font-family: $font-arial;
          font-weight: 600;
          color: $light_purple;
          line-height: 1.1;
          margin-bottom: 1rem;
          max-width: 90%;
          transition: all 500ms ease;

          @media screen and (max-width: 1024px) {
            word-spacing: 100vw;
          }
        }
        .colour {
          font-size: clamp(2.5rem, 7.5vw, 3rem);
        }
      }

      .price {
        flex: 1 0 10%;
        text-align: right;
        transition: all 500ms ease;
        &-text {
          font-size: clamp(2rem, 7.5vw, 2.5rem);
        }

        @media screen and (max-width: $bp-960) {
          display: none;
        }
      }

      .delete {
        flex: 1 0 20%;
        transition: all 500ms ease;

        @media screen and (max-width: $bp-600) {
          flex: 1 0 25%;
        }

        &-button {
          cursor: pointer;
          font-family: $font-primary;
          font-size: clamp(2rem, 7.5vw, 2.5rem);
          width: 9rem;
          color: #adadad;
          transition: all 500ms ease;

          @media screen and (max-width: $bp-960) {
            text-align: center;
            width: 100%;
          }
        }
      }

      .cart__select {
        margin: 0.3rem 0;
        width: 15rem;
        border: none;
        font-size: clamp(2.8rem, 8vw, 3.3rem);
        font-family: 'Bebas Neue';
        letter-spacing: 1px;
        padding: 0.3rem 1rem;
        background-image: url(/images/down-arrow.png);
        background-color: white;
        background-repeat: no-repeat;
        background-position-x: 90%;
        background-position-y: 50%;
        -moz-appearance: none;
        -webkit-appearance: none;
        appearance: none;
        cursor: pointer;
        margin-bottom: 4rem;
        transition: all 500ms ease;

        @media screen and (max-width: $bp-960) {
          width: 100%;
        }
      }

      .colour {
        font-size: clamp(2rem, 5vw, 3rem) !important;
      }

      .image {
        flex: 1 0 20%;
        background-color: white;
        padding: 2rem;
        height: 28rem;
        width: 27rem;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: 3rem;
        transition: all 500ms ease;

        @media screen and (max-width: $bp-960) {
          flex: 1 0 30%;
          width: 30vw;
          height: 35vw;
        }

        @media screen and (max-width: $bp-600) {
          margin-right: 2rem;
        }

        img {
          width: 24rem;
          height: auto;

          @media screen and (max-width: $bp-960) {
            width: 100%;
          }
        }
      }
    }
  }

  .back-button {
    cursor: pointer;
    width: 5rem;
    img {
      width: 5rem;
      height: auto;
    }
  }
}
