<template>
  <div class="home">
    <Heading />
    <client-only>
      <div class="slider chair">
        <swiper ref="slider" :options="swiperOptions">
          <Chairslide
            v-for="product in productsBest"
            :key="product.node.id"
            :title="product.node.title"
            :image="product.node.images.edges[0].node.src"
            :price="product.node.variants.edges[0].node.price"
            :color="product.node.variants.edges[0].node.title"
            @addtocart="addToCart(product.node.variants.edges[0].node.id)"
          />
          <div slot="button-prev" class="slider-prev" @click="prev()">
            <img
              src="images/back.png"
              alt="Seatzac, SeatSac, zitzak, e-zy, portable, lucht, chill, relax, lounger"
            />
          </div>
          <div slot="button-next" class="slider-next" @click="next()">
            <img
              src="images/next.png"
              alt="Seatzac, SeatSac, zitzak, e-zy, portable, lucht, chill, relax, lounger"
            />
          </div>
        </swiper>
      </div>
    </client-only>
    <div class="margin-12">
      <div class="container">
        <div class="text-block">
          <div class="content">
            <div
              v-observe-visibility="{ callback: visibiltyText, once: true }"
              class="title"
            >
              <h3
                alt="Seatzac, SeatSac, zitzak, e-zy, portable, lucht, chill, relax, lounger"
              >
                Chill wherever
              </h3>
              <div class="purple-block-text"></div>
            </div>
            <div class="text">
              <p>
                SEATZAC™️ is the leading brand in Europe when it comes down to
                air loungers.
              </p>
              <p>
                Most people loved our product but the feedback we got of our
                SeatZac and traditional air loungers in general, is that people
                are not able to fill it very easy. Therefor we developed a
                patented and integrated air pump (MR E-ZY) that can help you
                quickly inflate our SeatZac products within 60 seconds and you
                don’t need a lot of space and wind anymore. For this reason, the
                SeatZac is no longer only an outdoor product for the summer, but
                also a great product to use indoor all year round.
              </p>
              <p>
                Once your SeatZac is fully inflated the MR E-ZY is even capable
                to charge your mobile phone or other devices because of the
                internal power bank.
              </p>
              <p>
                With our ergonomic curve design, the SeatZac is giving you great
                support to your back and neck when you sit down. It is very
                stable and not easy to roll over.
              </p>
              <ul>
                <li>
                  <p>More tips?</p>
                </li>
                <li>
                  <nuxt-link
                    v-if="$route.query.checkoutId"
                    :to="{
                      path: `/service/faq`,
                      query: { checkoutId: $route.query.checkoutId },
                    }"
                  >
                    <button class="btn-text">
                      <p>Check out our FAQ</p>
                    </button>
                  </nuxt-link>
                  <nuxt-link v-else to="/service/faq">
                    <button class="btn-text">
                      <p>Check out our FAQ</p>
                    </button>
                  </nuxt-link>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="margin-12">
      <div class="container">
        <Productbox
          v-for="product in productsBox"
          :key="product.id"
          :title="product.product"
          :image="product.image_all"
          :link="product.category"
          :color="product.theme"
          :text="product.description"
          :price="product.price"
        />
      </div>
    </div>
  </div>
</template>

<script lang="ts">
/* eslint-disable @typescript-eslint/no-unused-vars */
import gsap from 'gsap'
import { Component, Vue } from 'nuxt-property-decorator'
import gqlGetAllProducts from '~/apollo/queries/gqlGetAllProducts.gql'
import gqlGetCart from '~/apollo/queries/gqlGetCart.gql'

import { shopStore } from '~/store'

@Component({
  apollo: {
    node: {
      query: gqlGetCart,
      variables() {
        return {
          id: String(this.$route.query.checkoutId).replace('%3D', '='),
        }
      },
      skip() {
        return !this.$route.query.checkoutId
      },
    },
  },
  // @ts-ignore
  async asyncData({ app, $content, $axios }) {
    const getSeatzacs = await $content('pages/seatzac').fetch()
    const allProducts = await app.apolloProvider.defaultClient.query({
      query: gqlGetAllProducts,
    })
    return {
      products: allProducts.data.products.edges,
      productsBox: getSeatzacs,
    }
  },
})
export default class Homepage extends Vue {
  private productsBest = []
  private products = []
  private productsBox = []
  private node = []
  private randomArray = []
  productName = ''
  productPrice = ''
  textVisible = true
  endVisible = true
  $toast: any

  swiperOptions = {
    slidesPerView: 1.5,
    grabCursor: false,
    allowTouchMove: false,
    slidesPerGroup: 1,
    spaceBetween: 15,
    navigation: {
      nextEl: '.swiper-button-next',
      prevEl: '.swiper-button-prev',
    },
    breakpoints: {
      1200: {
        slidesPerView: 3.4,
      },
      1024: {
        slidesPerView: 3.2,
      },
      800: {
        slidesPerView: 2.7,
      },
      751: {
        slidesPerView: 2.3,
      },
      700: {
        slidesPerView: 1.6,
      },
    },
  }

  prev() {
    // @ts-ignore
    this.$refs.slider.$swiper.slidePrev()
  }

  next() {
    // @ts-ignore
    this.$refs.slider.$swiper.slideNext()
  }

  visibiltyText(isVisible, entry) {
    const textTimeline = gsap.timeline({})

    this.textVisible = isVisible

    if (this.textVisible) {
      textTimeline.to('.purple-block-text', {
        width: '100%',
        duration: 0.4,
        ease: 'power4.inOut',
      })
    }
  }

  getProducts() {
    this.products.forEach((el) => {
      if (el.node.tags.includes('best_seller')) {
        this.productsBest.push(el)
      }
    })
  }

  addToCart(variantID) {
    if (this.$route.query.checkoutId !== undefined) {
      shopStore.addLineItemHome({
        variantId: variantID,
        checkoutId: this.$route.query.checkoutId,
      })
    } else {
      shopStore.generateCheckoutIDAndAddLineItemHome(variantID)
    }
  }

  mounted() {
    this.getProducts()
  }
}
</script>
